/*
 THEME NAME: DigiTheme
 AUTHOR: Digilite Web Solutions
 VERSION: 3.0
 */

/*FONTS*/

/*DEFAULT CSS*/
* {
  outline: none !important;
  text-decoration: none !important;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  position: relative;
  color: #545869;
  font-family: 'Lato', sans-serif;
}

a,
a:hover,
a:focus {
  color: #f57a2e;
}

.main-content a {
  font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  color: black;
  font-family: 'Baloo 2', cursive;
  font-weight: normal;
}


.transition {
  transition: .5s;
}

.relative-parent {
  position: relative;
}

.absolute-bottom {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

.blog-overlay {
  background-color: rgba(23,23,29,0.1);
}

.team-overlay {
  background-color: rgba(23,23,29,0.3);
}

/* .overlay-mask {
  background-color: rgba(23, 23, 29, 0.4);
} */

.header-overlay {
  background-color: rgba(23, 23, 29, 0.8);
}


.alpha {
  padding-left: 0;
}

.omega {
  padding-right: 0;
}

.page-404 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.alignnone {
  margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
  display: block;
  margin: 0 auto;
}

.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

a img.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

a img.alignnone {
  margin: 5px 20px 20px 0;
}

a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption {
  max-width: 100%;
  text-align: center;
}

.wp-caption.alignnone {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
  margin: 5px 0 20px 20px;
}

.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto;
}

.wp-caption p.wp-caption-text {
  font-size: 13px;
  line-height: 20px;
  margin: 0;
  padding: 6px 0px 5px;
  text-align: left;
}



strong {
  color: #000000;
  font-weight: bold;
  font-size: 14px;
  line-height: 21px;
}

.reverse-order {
  flex-direction: row-reverse;
}

.rounded-img {
  border: 1px solid #E5E5E5;
  border-radius: 10px;
  background-color: #FFFFFF;
  box-shadow: 20px 20px 30px 0 rgba(0,0,0,0.06);

}

/*MAIN CSS*/
header {
  padding: 22px 0;
  border-bottom: 1px solid #E4E4E4;
}

header .nav>li>a {
  color: #000000;
  font-weight: bold;
}

.nav>li {
  position: relative;
}

header .main-menu {
  padding: 5px 0;
}


.cover {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.featured-image {
  position: relative;
  height: 100%;
}

.button,
.frm_style_formidable-style.with_frm_style .frm_submit button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  min-width: 89px;
  padding: 0 20px;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  line-height: 34px;
  transition: 0.4s;
  border: 1px solid transparent;
  z-index: 2;
}

.frm_style_formidable-style.with_frm_style .frm_submit button,
.frm_style_formidable-style.with_frm_style .frm_submit button:hover,
.frm_style_formidable-style.with_frm_style .frm_submit button:focus {
  background-color: transparent;
}

footer .frm_style_formidable-style.with_frm_style .frm_submit button:hover,
footer .frm_style_formidable-style.with_frm_style .frm_submit button:focus {
  background-color: white;
}

.frm_style_formidable-style.with_frm_style .frm_submit button {
  color: white;
}

.frm_style_formidable-style.with_frm_style .frm_submit button::after,
.button::after {
  opacity: 0;
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  border-radius: 5px;
  background: linear-gradient(90deg, #F15826 0%, #FBB13A 100%);
  transition: 0.4s;
  margin: -1px;
  z-index: -1;
}

.orange-button:hover::after,
.orange-button:focus::after,
.frm_style_formidable-style.with_frm_style .frm_submit button:hover::after,
.frm_style_formidable-style.with_frm_style .frm_submit button:focus::after {
  opacity: 0;
}

.orange-button::after,
.orange-button::after,
.white-button:hover::after,
.white-button:focus::after,
.frm_style_formidable-style.with_frm_style .frm_submit button::after {
  opacity: 1;
}

.orange-button:hover,
.orange-button:focus,
.frm_style_formidable-style.with_frm_style .frm_submit button:hover,
.frm_style_formidable-style.with_frm_style .frm_submit button:focus,
.white-button {
  color: #F57A2E;
  border-color: rgba(245, 122, 46, 0.2);
}

.orange-button,
.frm_style_formidable-style.with_frm_style .frm_submit button,
.white-button:hover,
.white-button:focus {
  color: white;
  border-color: transparent;
}

.header-buttons .button {
  margin-left: 10px;
}

/* pagination styles */
.number-pagination {
  clear: both;
}
.number-pagination ul.page-numbers {
  font-size: 0;
  display: block;
  text-align: center;
  padding: 0 12px;
  margin: 32px 0 0 0;
}
.personnel-list .number-pagination ul.page-numbers {
  text-align: left;
  padding: 0;
  margin-top: 16px;
}
.number-pagination ul.page-numbers li {
  list-style-type: none;
  display: inline-block;
}
.number-pagination ul.page-numbers li a,
.number-pagination ul.page-numbers li span {
  width: 30px;
  font-size: 14px;
  text-align: center;
  line-height: 30px;
  color: #f57a2e;
  display: inline-block;
  background-color: white;
  border: 1px solid rgba(245,122,46,0.2);
}
.number-pagination ul.page-numbers li .material-icons {
  position: relative;
  bottom: -3px;
}
.number-pagination ul.page-numbers li:first-child a,
.number-pagination ul.page-numbers li:last-child a {
  border: none;
  color: black;
  background: none;
  font-size: 13px;
  line-height: 24px;
}
.number-pagination ul.page-numbers li span.current,
.number-pagination ul.page-numbers li:hover a {
  background-color: white;
  color: black;
}
.number-pagination ul.page-numbers li:first-child a:hover,
.number-pagination ul.page-numbers li:last-child a:hover {
  color: #f57a2e;
  background-color: transparent;
}
/******************************************/


.main-content .container > h1 {
  margin-top: 30px;
}

.button-container .button {
  margin-right: 10px;
  margin-top: 10px;
}

.header-section .button-container {
  margin-top: 40px;
}

.call-to-action {
  padding: 90px 0;
}

.call-to-action .cta-content {
  padding: 0 24px;
  max-width: 820px;
  margin: 0 auto;
}

.call-to-action .button {
  margin-top: 20px;
}

footer {
  color: white;
  background-color: #18171D;
}

footer h3 {
  color: white;
  margin-bottom: 20px;
}

footer h4 {
  color: white;
  margin-bottom: 12px;
}

footer .copyright {
  max-width: 250px;
}

footer .footer-menu>li>a,
footer .footer-menu>li>a:hover,
footer .footer-menu>li>a:focus {
  color: white;
}

footer .footer-menu li:not(:last-child) {
  margin-bottom: 15px;
}

footer .menu-with-titles li>a,
footer .menu-with-titles li>a:hover,
footer .menu-with-titles li>a:focus {
  color: #545869;
}

footer .menu-with-titles li:not(:last-child) {
  margin-bottom: 12px;
}

footer .footer-first-col {
  height: 100%;
  font-size: 12px;
  color: #545869;
  line-height: 18px;
}

footer .footer-first-col a,
footer .footer-first-col a:hover,
footer .footer-first-col a:focus{
  color: #545869;
}

footer .h4,
footer .h6 {
  color: white;
  margin-bottom: 14px;
}

footer .footer-first-col .privacy-cookies {
  margin-bottom: 10px;
}

footer .footer-first-col .privacy-cookies a:first-child {
  margin-right: 20px;
}

footer .footer-first-col .privacy-cookies a {
  display: inline-block;
}

footer .footer-first-col .privacy-cookies a svg {
  float: left;
  margin-right: 10px;
}

footer .footer-first-col .social-pages {
  margin-top: auto;
  margin-bottom: 30px;
}
footer .footer-first-col .social-pages a {
  color: white;
  background-color: #f57a2e;
}

footer .footer-first-col .social-pages a:not(:last-child) {
  margin-right: 10px;
}



/* Pricing template styles */
.pricing-header {
  position: relative;
}

.page-template-price .main-content {
  background-color: #f0f0f0;
}

.main-content .pricing-header.no-thumbnail {
  padding: 20px 0 40px;
}

.pricing-header .user-content {
  position: relative;
  z-index: 22;
}

.pricing-header .user-content h1 {
  font-size: 38px;
  line-height: 42px;
  margin-bottom: 30px;
}

.pricing-header .user-content p,
.pricing-header .user-content h2,
.pricing-header .user-content h3,
.pricing-header .user-content h4,
.pricing-header .user-content h5,
.pricing-header .user-content h6 {
  font-size: 28px;
  line-height: 32px;
  margin-bottom: 20px;
}

.pricing-header.has-thumbnail .user-content p,
.pricing-header.has-thumbnail .user-content h1,
.pricing-header.has-thumbnail .user-content h2,
.pricing-header.has-thumbnail .user-content h3,
.pricing-header.has-thumbnail .user-content h4,
.pricing-header.has-thumbnail .user-content h5,
.pricing-header.has-thumbnail .user-content h6 {
  color: white;
}

.pricing-header.has-thumbnail+.packages {
  position: relative;
  z-index: 23;
}


.packages .package-card .package-card-container {
  position: relative;
  border-radius: 5px;
  background-color: white;
  padding-bottom: 30px;
  height: 100%;
  z-index: 24;
  transition: 0.2s;
}

.package-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  border-radius: 5px;
  background: linear-gradient(90deg, #FBB137 0%, #47B546 100%);
  transition: 0.6s;
}

.packages .package-card.highlighted .package-card-container {
  border-radius: 0;
}
.packages .package-card.highlighted::after {
  display: block;
  content: "Most Popular";
  position: absolute;
  top: -50px;
  text-align: center;
  width: 100%;
  font-size: 24px;
  right: 0;
  font-family: 'Baloo 2', cursive;
}

.packages .package-card.highlighted .package-overlay,
.packages .package-card:hover .package-overlay {
  transform: scale(1.025);
}

.packages .package-card .package-card-container .package-info {
  padding: 20px 64px 20px 32px;
  min-height: 156px;
}
.packages .package-card .package-card-container .package-info .package-name {
  font-size: 24px;
  line-height: 30px;
}

.packages .package-card .package-card-container .package-info .package-price .number {
  color: #000000;
  font-size: 56px;
  line-height: 56px;
  font-family: 'Baloo 2', cursive;
}

.packages .package-card .package-card-container .package-description {
  font-size: 18px;
  line-height: 22px;
  padding: 16px 36px 16px 20px;
  color: black;
  font-family: 'Baloo 2', cursive;
}

.packages .package-card .package-card-container .package-add-info {
  position: relative;
  padding: 10px 36px 10px 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.packages .package-card .package-card-container .package-add-info i {
  position: absolute;
  left: 20px;
  bottom: -8px;
  color: white;
  font-size: 9px;
  text-align: center;
  line-height: 16px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: linear-gradient(90deg, #F15826 0%, #FBB13A 100%);
}

.feature-bullet {
  display: block;
  padding: 10px 58px 10px 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  position: relative;
}

.feature-bullet svg {
  width: 14px;
  height: 12px;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}

.packages .package-card .package-card-container .button-container {
  text-align: right;
  padding: 0 20px;
  margin-top: auto;
}

.packages .package-card .package-card-container .button-container .button {
  margin-top: 20px;
}

.inlcuded-features {
  padding: 80px 0 65px;
}

.inlcuded-features h2 {
  margin-bottom: 40px;
}
.feature-card-container  {
  margin-bottom: 20px;
}
.inlcuded-features .feature-card-container {
  margin-bottom: 20px;
}

.feature-card-container .feature-card {
  height: 100%;
  border-radius: 5px;
  padding: 40px 36px 40px 40px;
  border: 1px solid #E3E3E3;
  display: flex;
  flex-direction: column;
}

.feature-card-container .feature-card img {
  max-width: 32px;
}

.feature-card-container .feature-card p {
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 0;
}

.feature-card-container .feature-card strong {
  margin: 16px 0 10px;
  display: block;
}

.learn-more {
  margin-top: auto;
  color: #0477DD;
  font-size: 12px;
  font-weight: bold;
  line-height: 21px;
}

.learn-more:hover,
.learn-more:focus {
  color: #0477DD;
}

.learn-more svg {
  margin-top: -2px;
  margin-right: 2px;
  transition: 0.4s;
}

.learn-more:hover svg,
.learn-more:focus svg {
  margin-right: 6px;
}

.home-modules {
  padding: 60px 0 100px;
  background: linear-gradient(90deg, #ED2129 0%, #ED6025 34.29%, #FBB137 66.07%, #47B546 100%);
}
.home-modules h2 {
  margin-bottom: 20px;
  color: white;
}


.modules-header p:last-child {
  margin-bottom: 40px;
}

.modules-card-container h2 {
  text-align: center;
  margin-top: 10px;
  text-transform: capitalize;
  font-weight: bold;
  font-family: 'Lato', sans-serif;
}

.modules {
  background-color: #F0F0F0;
  padding: 80px 0;
}

.modules .modules-container {
  margin-bottom: 20px;
}

.modules .modules-container .modules-card-full {
  padding: 40px;
  height: 100%;
  background-color: white;
  border-radius: 5px;
}

.modules .modules-container .modules-card-full ul,
.modules .modules-container .modules-card-full ol {
  padding-left: 20px;
}

.modules .modules-container .modules-card-full img {
  float: right;
}
.modules .modules-container .modules-card-full h2 {
  margin-top: 8px;
  margin-bottom: 24px;
  color: black;
  font-family: "Lato",sans-serif;
}

.modules .modules-container .extra-modules {
  display: none;
  margin: 40px -40px 0;
  padding: 40px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.modules .modules-container .extra-modules .extra-footer {
  margin-top: 20px;
}

.modules .modules-container .extra-modules .extra-footer strong {
  font-size: 12px;
}

.modules-card-container {
  position: relative;
}

.home-modules .modules-card-container h2 {
  color: white;
  margin-bottom: 0;
}

.modules-archive .icons-container {
  position: relative;
}

.modules-archive .icons-container svg {
  position: absolute;
  top: -3px;
}

.modules-archive .modules-card-container h2 {
  color: black;
}

.modules-card-container .modules-card {
  height: 100%;
  border-radius: 5px;
  background-color: #FFFFFF;
}

.modules-archive .modules-card-container .modules-card {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.big-icon-image {
  width: 65px;
  height: 65px;
}
.medium-icon-image {
  width: 42px;
  height: 42px;
}
.small-icon-image {
  width: 32px;
  height: 32px;
}
.tiny-icon-image {
  width: 24px;
  height: 24px;
}
.very-small-icon-image {
  width: 16px;
  height: 16px;
}

[class*="-icon-image"].img {
  object-fit: contain;
}


.modules-archive {
  padding-bottom: 80px;
}

.custom-archive h1 {
  margin-bottom: 30px;
}
.modules-header h2 {
  margin-bottom: 10px;
}


.shifted-container {
  padding-top: 165px;
  overflow: hidden;
}
.shifted-image {
  position: relative;
  overflow: hidden;
  margin-top: -300px;
}

.shifted-image-container {
  background-color: #F0F0F0;
}

/* Featured Page styles */
.features .not-moved {
  display: none;
}

.features-content {
  padding: 80px 0;
}

.features-content .content-row:not(:last-child) {
  margin-bottom: 70px;
}

.features-content .content-row:not(.reverse-order) .text-tab {
  padding-right: 80px;
}

.features-content .content-row.reverse-order .text-tab {
  padding-left: 80px;
}

.features-content .nav-pills .nav-link {
  position: relative;
  font-size: 14px;
  margin-bottom: 10px;
  font-weight: bold;
  line-height: 21px;
  color: black;
  padding: 2px;
  cursor: pointer;
  transition: 0.3s;
  font-family: "Lato", sans-serif;
  z-index: 1;
}

.features-content .nav-pills .nav-link .nav-container {
  display: block;
  padding: 15px 20px 15px 50px;
  border-radius: 5px;
  background-color: #F0F0F0;
  margin: 0;
}

.page-template-page-tabs-page .features-content .nav-pills .nav-link .nav-container,
.single .features-content .nav-pills .nav-link .nav-container {
  background-color: white;
  padding-left: 20px;
}

.features-content .nav-pills .nav-link .package-overlay {
  opacity: 0;
  z-index: -1;
}

.features-content .nav-pills .nav-link img {
  position: absolute;
  width: 16px;
  height: auto;
  left: 18px;
  transform: translateY(-50%);
  top: 50%;
}

.features-content .nav-pills .nav-link.active .package-overlay,
.features-content .nav-pills .nav-link.active .nav-pills .show>.nav-link .package-overlay {
  opacity: 1;
}


/* teams page styles */
.teams .team-intro {
  max-width: 800px;
  margin: 0 auto;
  padding: 80px 0 200px;
}

.teams .teams-content {
  margin-top: -130px;
  padding-bottom: 45px;
  border-bottom: 1px solid #E5E5E5;
}


.teams .teams-content .teams-card {
  margin-bottom: 35px;
}

.teams-card h2 {
  margin-bottom: 0;
}
.teams-card .team-image {
  position: relative;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

.teams .teams-content .teams-card .team-image {
  margin-bottom: 20px;
  height: 260px;
}

.single .teams-card .team-image {
  height: 194px;
  margin-bottom: 20px;
}


.teams .teams-content .teams-card .popup-team .team-image {
  height: 200px;
  border-radius: 5px;
  overflow: hidden;
}

.teams-card .team-position {
  font-size: 12px;
}

.social-pages a {
  display: inline-block;
  font-weight: normal;
  font-size: 14px;
  border-radius: 5px;
  text-align: center;
  width: 32px;
  height: 32px;
  line-height: 34px;
}

.teams-card .social-pages a {
  color: white;
}

.teams-card .social-pages a:not(:last-child) {
  margin-right: 10px;
}

.teams-card .learn-more {
  margin-top: 14px;
}

.teams .teams-content .teams-card .popup-team-container {
  opacity: 0;
  background-color: rgba(23,23,29,0.3);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.teams .teams-content .teams-card .popup-team-container .close {
  position: absolute;
  cursor: pointer;
  top: 24px;
  right: 24px;
  width: 32px;
  height: 32px;
  opacity: 0.2;
  border-radius: 5px;
  background-color: #FFFFFF;
  border: 1px solid #F57A2E;
  transition: 0.4s;
}

.teams .teams-content .teams-card .popup-team-container .close svg {
  fill: #F57A2E;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.teams .teams-content .teams-card .popup-team-container .close:hover {
  opacity: 0.5;
}

.teams .teams-content .teams-card .popup-team-container h2 {
  font-size: 38px;
  line-height: 42px;
}

.teams .teams-content .teams-card .popup-team-container .team-position {
  margin-bottom: 30px;
  display: inline-block;
}

.teams .teams-content .teams-card .popup-team-container.team-opened {
  opacity: 1;
  z-index: 23;
  overflow: auto;
}

.teams .teams-content .teams-card .popup-team-container .popup-team {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  background-color: #FFFFFF;
}

.page-template-page-tabs-page .features-content {
  padding-top: 40px;
}

.contact-us-cta {
  font-size: 12px;
  padding: 20px;
  background-color: #F0F0F0;
  border-radius: 5px;
}
.contact-us-cta p {
  margin: 10px 0 25px;
}

.contact-us-cta span {
  padding: 3px 0;
  display: inline-block;
}

.contact-us-cta span svg {
  float: left;
  margin-right: 3px;
  width: 11px;
}

/* contact page */

.page-template-page-contact .main-content {
  padding: 50px 0 100px;
}
.page-template-page-contact .main-content h1 {
  margin-bottom: 0;
}

.page-template-page-contact .main-content .subtitle {
  display: block;
  font-weight: bold;
  color: black;
  margin-bottom: 60px;
}

.page-template-page-contact .subtitle a,
.page-template-page-contact .social-pages a {
  color: black;
}

.page-template-page-contact .main-content .contact-details {
  font-size: 12px;
  line-height: 18px;
}
.page-template-page-contact .main-content .contact-details p {
  margin-bottom: 0;
}

.page-template-page-contact .main-content .contact-details .social-pages {
  margin-top: 40px;
}

.page-template-page-contact .main-content .contact-details .social-pages a {
  width: 16px;
  height: 16px;
}

.page-template-page-contact .main-content .contact-details .social-pages a:not(:last-child) {
  margin-right: 20px;
}

.page-template-landing .main-content {
  padding: 80px 0 130px;
}

.page-template-landing header {
  border-bottom: none;
}

.page-template-landing .landing-content img {
  max-width: 100%;
  height: auto;
}

.page-template-landing .landing-content strong {
  color: black;
}

.page-template-landing .landing-content h1,
.page-template-landing .landing-content h2,
.page-template-landing .landing-content h3,
.page-template-landing .landing-content h4,
.page-template-landing .landing-content h5,
.page-template-landing .landing-content h6 {
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 10px;
}

.page-template-landing .landing-content .feature-bullet {
  padding: 10px 0;
}

.page-template-landing .landing-content .feature-bullet:nth-of-type(1) {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.about-inflo .header-margin {
  padding-bottom: 40px;
}


.about-inflo .inflo-benefits .overflow-image.right-aligned {
  margin-top: -320px;
}
.about-inflo .inflo-benefits {
  padding-top: 160px;
  padding-bottom: 80px;
  margin-top: 160px;
}
.about-inflo .inflo-benefits h3.h4 {
  margin-bottom: 20px;
}

.about-inflo .inflo-benefits .shifted-image-container {
  margin-bottom: 80px;
}

.special-header {
  padding: 114px 10px 72px;
}



.careers-content .first-column {
  color: #000000;
  font-size: 18px;
  line-height: 22px;
  font-family: 'Baloo 2', cursive;
}

.careers-content .points {
  margin: 24px 0;
}

.testimonial-container .testimonial-card {
  border-radius: 5px;
  background-color: #FDE2D5;
  position: relative;
  margin: 50px 0 80px;
}

.testimonial-container .testimonial-card::after {
  content: "";
  width: 0px;
  height: 0px;
  border-left: 50px solid transparent;
  border-right: 0px solid transparent;
  border-top: 32px solid #FDE2D5;
  position: absolute;
  border-bottom-right-radius: 5px;
}

.testimonial-container .testimonial-card:nth-last-of-type(2n+1)::after {
  left: 100px;
  top: -32px;
  transform: rotate(180deg);
}
.testimonial-container .testimonial-card:nth-last-of-type(2n+2)::after {
  right: 100px;
  bottom: -32px;
}

.testimonial-container .testimonial-card h3 {
  margin-bottom: 16px;
}

.page-id-8 .main-content {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}


.main-content section.job-posts {
  margin-top: 0;

}

.main-content section.job-posts .job-card-container{
  position: relative;
  margin-top: 20px;
  padding: 2px;
}

.main-content section.job-posts .job-card-container .job-card {
  position: relative;
  padding: 40px 40px 36px 40px;
  border-radius: 5px;
  background-color: white;
}

.main-content section.job-posts .job-card-container .package-overlay {
  margin: 0;
}

.main-content section.job-posts .job-card-container .job-card > span {
  display: block;
  margin: 6px 0 16px;
}

.main-content section.job-posts .job-card-container .job-card > span svg {
  float: left;
  margin-right: 6px;
}

.main-content section.job-posts .gdpr-container {
  position: relative;
  border-radius: 5px;
  margin-top: 20px;
  background-color: rgba(4,119,221,0.1);;
  padding: 20px 30px;
}

.main-content section.job-posts .gdpr-container strong {
  display: block;
}

.main-content section.job-posts .gdpr-container svg {
  float: left;
  margin-top: 6px;
  margin-right: 26px;
}

.main-content .career-footer h3 {
  margin-bottom: 160px;
}

.main-content .career-footer .whats-offer {
  padding: 80px 0;
}
.main-content .career-footer .whats-offer .feature-card-container {
  margin-top: 40px;
}

.main-content .career-footer .whats-offer .feature-card-container .feature-card strong {
  margin: 14px 0 10px;
}

.main-content .career-footer .whats-offer .feature-card-container .feature-card p {
  margin-bottom: 0;
}

.main-content .growing-value {
  overflow: hidden;
}

.main-content .growing-value .shifted-image-container  {
  padding-top: 290px;
  margin-top: 250px;
}

.main-content .growing-value .shifted-image-container .shifted-image {
  margin-top: -500px;
}

.main-content .growing-value section.gray-background .right-aligned {
  margin-top: -250px;
}

.main-content .growing-value .number {
  width: 20px;
  margin-bottom: 14px;
}

.main-content .growing-value .reasons-why {
  padding: 80px 0;
}

.main-content .growing-value .reasons-why h2.h4 {
  margin-bottom: 20px;
}

.gradiant-background {
  background-color: white;
}

.mission-block {
  text-align: center;
  position: relative;
  padding: 4px;
  margin: 80px 0;
}

.mission-block .mission-block-container {
  background-color: white;
  height: 200px;
  position: relative;
  z-index: 11;
  border-radius: 5px;
  padding: 30px 80px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-flow: column;
}

.gradiant-background::after {
  content: "";
  position: absolute;
  top: -2px;
  bottom: -2px;
  left: -2px;
  right: -2px;
  border-radius: 5px;
  background:  linear-gradient(90deg, #F15826 0%, #FBB13A 100%);
}

.gradiant-background h3 {
  margin-bottom: 20px;
}

/* formidable overrides */
.frm_style_formidable-style.with_frm_style input[type=text],
.frm_style_formidable-style.with_frm_style input[type=password],
.frm_style_formidable-style.with_frm_style input[type=email],
.frm_style_formidable-style.with_frm_style input[type=number],
.frm_style_formidable-style.with_frm_style input[type=url],
.frm_style_formidable-style.with_frm_style input[type=tel],
.frm_style_formidable-style.with_frm_style input[type=file],
.frm_style_formidable-style.with_frm_style input[type=search],
.frm_style_formidable-style.with_frm_style select,
.frm_style_formidable-style.with_frm_style textarea,
.frm_style_formidable-style.with_frm_style .frm-card-element.StripeElement {
  background-color: rgba(0,0,0,0.07) !important;
}
.page-template-landing .main-content .frm_forms.frm_style_formidable-style.with_frm_style {
  margin-top: 22px;
  width: 100%;
}

.frm_style_formidable-style.with_frm_style .frm_time_wrap select.auto_width {
  width: 47%;
}

footer .frm_style_formidable-style.with_frm_style .frm_form_field  {
  margin: 0 -2px 0 0;
}
footer .frm_style_formidable-style.with_frm_style  input[type=email] {
  background-color: #24242C  !important;
}

.frm_fields_container {
  position: relative;
}

.form-button-right .frm_style_formidable-style.with_frm_style .frm_form_field p {
  font-size: 12px;
}



#frm_field_11_container {
  height: 40px;
  display: flex;
  justify-content: center;
  flex-flow: column;
}

.collapsing {
  transition: 0.3s;
}

/* Solution page */
.image-overlay-container {
  position: relative;
}
.section-content .secondary-subtitle {
  font-size: 12px;
}

.section-content {
  padding: 80px 0;
}
.gray-background {
  background-color: #EFEFEF;
}

.section-content .accordion {
  padding-top: 40px;
}

.section-content .accordion .panel-title {
  cursor: pointer;
}

.section-content .accordion .panel-group {
  padding: 10px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.section-content .accordion .panel-group:first-child {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.section-content .accordion .panel-group p {
  padding-right: 60px;
}

.section-content .accordion .panel-group .panel-title {
  position: relative;
  margin: 0;
  font-weight: bold;
  padding: 8px 0;
  font-family: "Lato", sans-serif;
}

.section-content .accordion .panel-group .panel-title svg {
  position: absolute;
  right: 0;
  transform: rotate(90deg);
  transform-origin: center;
  transition: 0.35s;
}

.section-content .accordion .panel-group .panel-title.collapsed svg {
  transform: rotate(0deg);
}

.customer-section {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.nav-control {
  display: flex;
}
.nav-control .owl-prev {
  margin-right: 5px;
}

.nav-control .owl-next,
.nav-control .owl-prev {
  cursor: pointer;
  height: 36px;
  width: 36px;
  border: 1px solid rgba(245,122,46,0.2);
  border-radius: 5px;
  position: relative;
}
.nav-control svg {
  position: absolute;
  width: 8px;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

.video-slider.owl-carousel .item {
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  text-align: center;
  font-size: 12px;
}

.video-slider.owl-carousel .item strong {
  color: white;
}

.video-slider.owl-carousel .item .caption {
  color: white;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(90deg, #F15826 0%, #FBB13A 100%);
  padding: 10px;
}

.video-slider.owl-carousel .item > a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 40px;
}

.video-slider.owl-carousel .item .caption p {
  margin-bottom: 0;
}

.main-content section.inflo-explained {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.main-content section.inflo-explained iframe {
  margin-bottom: -4px;
}

.main-content section.why-inflo,
.main-content section.why-choose-inflo {
  padding: 80px 0;
  background-color: rgba(240,240,240,1);
  margin: 0;
}



.main-content section.why-inflo .key-points {
  margin-top: -100px;
  position: relative;
}
.main-content section.why-inflo .key-points-container {
  margin-bottom: 20px;
}

.main-content section.why-inflo .key-points .points {
  padding: 40px 40px 36px;
  background-color: white;
  border-radius: 5px;
  height: 100%;
}

.main-content section.why-inflo .key-points .points p {
  line-height: 18px;
}

.main-content section.why-inflo .key-points .points svg,
.main-content section.why-inflo .key-points .points img {
  max-width: 32px;
  margin-bottom: 20px;
}



.about-inflo h1.h2 {
  margin-bottom: 30px;
}



.about-inflo .left-aligned {
  margin-top: -200px;
}

.about-inflo .left-aligned .featured-image {
  min-height: 400px;
  width: 1600px;
  left: -360px;
  z-index: 25;
}

.main-content section.why-choose-inflo h1,
.main-content section.why-choose-inflo h2,
.main-content section.why-choose-inflo h3,
.main-content section.why-choose-inflo h4,
.main-content section.why-choose-inflo h5,
.main-content section.why-choose-inflo h6 {
  font-size: 18px;
  letter-spacing: 0;
  line-height: 22px;
}

.main-content section.why-choose-inflo .text-container {
  max-width: 820px;
  margin: 0 auto 70px;
}

.main-content section.transform-inflo{
  margin: 0;
  padding: 80px 0;
}
.main-content section.transform-inflo h3 {
  margin-bottom: 32px;
}
.main-content section.transform-inflo strong {
  display: inline-block;
  padding-right: 50px;
}
.main-content section.transform-inflo .featured-image {
  margin-top: 70px;
  height: 370px;
}


.user-content ul li,
.user-content ol li {
  margin-bottom: 6px;
}

.user-content img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}

.user-content [id*='gallery-'] img {
  border: none !important;
}
.user-content .table tr:first-child td {
  white-space: nowrap;
}
.user-content .wp-block-quote {
  text-align: center;
  border: none;
  position: relative;
  padding: 16px 48px;
  font-size: 32px;
  line-height: 36px;
  color: #427D95;
}

/* Resource content */
.resource-main-container {
  margin: 70px 0 80px;
}

.resource-main-container .resource-card-container {
  margin-bottom: 40px;
}

.resource-card-container .featured-image {
  margin-bottom: 15px;
}

.tag-container {
  margin-bottom: 10px;
  color: #0477DD;
}

.tag-container a {
  color: #0477DD;
  font-size: 12px;
  margin-bottom: 10px;
}

.meta-date {
 font-size: 12px;
}
.resource-main-container .resource-card-container h2 {
  font-family: "Lato", sans-serif;
}

.search-form-container .form-content {
  position: relative;
  padding: 2px 3px;
}

.search-form-container .form-content .package-overlay {
  left: 0;
  right: 0;
}

.search-form-container h2 {
  margin-bottom: 20px;
}

.search-form-container .search-bar {
  border: none;
  width: 100%;
  color: #545869;
  padding: 9px 56px 9px 16px;
  font-size: 12px;
  line-height: 18px;
  border-radius: 3px;
  background-color: #ffffff;
  position: relative;
}

.search-form-container .search-tags {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
}

.search-form-container .search-tags a {
  display: inline-block;
  padding: 0 16px;
  margin: 0 4px 4px 0;
  color: black;
  font-size: 12px;
  line-height: 28px;
  font-weight: bold;
  border: 1px solid rgba(245,122,46,0.2);
  border-radius: 14px;
}

.search-form-container .search-tags a.current-tag {
  color: #F57A2E;
  pointer-events: none;
  cursor: default;
}


.resource-extra {
  margin-top: 150px;
  background-color: #EFEFEF;
  padding: 70px 0 80px;
}
.resource-extra .featured-image {
  background-size: contain;
}

.single .user-content h1,
.single .user-content h2,
.single .user-content h3,
.single .user-content h4,
.single .user-content h5,
.single .user-content h6 {
  font-size: 18px;
  line-height: 24px;
}

.single .hero-image {
  min-height: 400px;
  margin: 40px 0;
}

.single .container > h1{
  margin-bottom: 0;
}

.single .tag-container {
  margin-top: 15px;
}

.related-container h4 {
  margin-bottom: 20px;
}

.video-slider.owl-carousel .owl-video-play-icon {
  background-size: contain;
  width: 60px;
  height: 60px;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  margin: 0;
}

.absolute {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 20;
}

/* Large desktops and laptops */
@media (min-width: 1300px) {
  .container {
    max-width: 1260px;
  }
}

@media (min-width: 1200px) {
  header .main-menu {
    padding-left: 70px;
  }
  .modules-archive .modules-card-container .modules-card {
    width: unset;
    position: relative;
    height: 155px;
    z-index: -1;
  }
}

@media (max-width: 1199px) {}

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  .modules-archive .modules-card-container .modules-card {
    height: auto;
    width: unset;
    position: relative;
    height: 115px;
    z-index: -1;
  }
}

@media (min-width: 992px) {
  .row {
    margin-left: -10px;
    margin-right: -10px;
  }

  .container,
  [class*="col-"] {
    padding-left: 10px;
    padding-right: 10px;
  }
  h1,
  .h1 {
    font-size: 56px;
    line-height: 60px;
  }

  h2,
  .h2 {
    font-size: 38px;
    line-height: 42px;
  }

  h3,
  .h3 {
    font-size: 32px;
    line-height: 38px;
  }

  h4,
  .h4 {
    font-size: 28px;
    line-height: 34px;
  }

  h5,
  .h5 {
    font-size: 18px;
    line-height: 24px;
  }

  h6,
  .h6 {
    font-size: 14px;
    line-height: 18px;
  }
  .resource-extra p {
    padding-right: 40px;
  }
  .home-modules .modules-card-container:not(:last-child) {
    margin-right: 1.5%;
  }
  #burger-menu {
    display: none;
  }
  header .nav>li>.sub-menu {
    opacity: 0;
    position: absolute;
    list-style-type: none;
    left: 0;
    top: 28px;
    padding: 5px 0;
    border-radius: 5px;
    background-color: #17171D;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
    transition: 0.4s;
    z-index: -1;
  }

  header .nav>li:hover>.sub-menu {
    opacity: 1;
    z-index: 100;
  }

  header .nav>li>.sub-menu li a {
    display: block;
    min-width: 140px;
    padding: 8px 20px;
    color: #cfcfcf;
    white-space: nowrap;
  }
  .about-inflo .overflow-image.right-aligned .featured-image {
    margin: 50px 0 0;
    width: 1600px;
  }
  .about-inflo .inflo-benefits .overflow-image.right-aligned .featured-image {
    margin: 0 0 80px;
    min-height: 320px;
    width: 1440px;
  }
  .careers-content .overflow-image.right-aligned .featured-image {
    margin: 40px 0 80px;
    width: 1720px;
  }
  .main-content .growing-value .shifted-image-container .shifted-image {
    height: 500px;
    width: 1600px;
  }
  .shifted-image-container {
    padding-top: 150px;
  }
  .shifted-image {
    height: 300px;
    border-radius: 5px;
    width: 1440px;
  }
  .modules-card-container {
    width: 11%;
  }
  .modules-archive .modules-card-container {
    width: 12.5%;
  }

  .search-form-container {
    margin: 80px 0;
  }
  .resource-extra .featured-image {
    margin-top: -150px;
    min-height: 480px;
  }
  header .nav>li>a {
    font-size: 14px;
    padding: 8px 25px;
    line-height: 26px
  }
  .pricing-header.has-thumbnail+.packages {
    margin-top: -231px;
  }
  .packages .package-card .package-overlay {
    left: 10px;
    right: 10px;
  }
  .main-content .pricing-header.has-thumbnail {
    padding: 30px 0 340px;
  }
  .packages .package-card .package-card-container .package-description {
    background-color: #eeeeee;
  }
  .packages .package-card.highlighted .package-overlay,
  .packages .package-card:hover .package-overlay {
    left: 6px;
    right: 6px;
  }

  #site-nav .header-buttons  {
    display: none;
  }

  .page-id-418 .video-section {
    padding-bottom: 80px;
  }
}

@media (max-width: 991px) {
  .row {
    margin-left: -24px;
    margin-right: -24px;
  }

  .container,
  [class*="col-"] {
    padding-left: 24px;
    padding-right: 24px;
  }
  h1,
  .h1 {
    font-size: 42px;
    line-height: 46px;
  }

  h2,
  .h2 {
    font-size: 32px;
    line-height: 36px;
  }

  h3,
  .h3 {
    font-size: 28px;
    line-height: 34px;
  }

  h4,
  .h4 {
    font-size: 24px;
    line-height: 28px;
  }

  h5,
  .h5 {
    font-size: 18px;
    line-height: 24px;
  }

  h6,
  .h6 {
    font-size: 14px;
    line-height: 18px;
  }
  header .nav>li {
    list-style-type: none;
    border-top: 1px solid #E1E1E1;
    width: 100%;
  }

  header .nav>li a {
    display: block;
    padding: 18px 24px;
  }

  header .nav>li:last-child {
    border-bottom: 1px solid #E1E1E1;
  }

  header .nav>li .sub-menu {
    list-style-type: none;
    padding: 0;
  }
  header .nav > li .sub-menu li a {
    color: #545869;
  }

  #burger-icon {
    width: 26px;
    height: 19px;
    margin-top: 8px;
    position: relative;
    float: right;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    z-index: 2;
  }
  #burger-icon span {
    display: block;
    position: absolute;
    height: 3px;
    width: 50%;
    background: #f57a2e;
    opacity: 1;
    -webkit-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }
  #burger-icon.open span {
    background-color: #f57a2e;
  }
  #burger-icon span:nth-child(even) {
    left: 50%;
  }
  #burger-icon span:nth-child(odd) {
    left: 0px;
  }
  #burger-icon span:nth-child(1),
  #burger-icon span:nth-child(2) {
    top: 0px;
  }
  #burger-icon span:nth-child(3),
  #burger-icon span:nth-child(4) {
    top: 8px;
  }
  #burger-icon span:nth-child(5),
  #burger-icon span:nth-child(6) {
    top: 16px;
  }
  #burger-icon.open span:nth-child(1),
  #burger-icon.open span:nth-child(6) {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  #burger-icon.open span:nth-child(2),
  #burger-icon.open span:nth-child(5) {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  #burger-icon.open span:nth-child(1) {
    left: 3px;
    top: 2px;
  }
  #burger-icon.open span:nth-child(2) {
    left: calc(50% - 3px);
    top: 2px;
  }
  #burger-icon.open span:nth-child(3) {
    left: -50%;
    opacity: 0;
  }
  #burger-icon.open span:nth-child(4) {
    left: 100%;
    opacity: 0;
  }
  #burger-icon.open span:nth-child(5) {
    left: 3px;
    top: 9px;
  }
  #burger-icon.open span:nth-child(6) {
    left: calc(50% - 3px);
    top: 9px;
  }
  #site-nav {
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    background: #F0F0F0;
    z-index: 100;
    border-bottom: 1px solid #E1E1E1;
  }
  #site-nav #menu-top-navigation {
    padding: 0 0 100px;
    display: flex;
    flex-flow: column;
  }
  .shifted-image {
    height: 45vw;
    margin: -165px -24px 0
  }
  .modules-archive .icons-container svg {
    display: none;
  }
  .modules-card-container {
    margin-bottom: 20px;
  }

  .packages .package-card {
    margin-bottom: 20px;
  }
  .packages .package-card.highlighted {
    margin-top: 50px;
  }
  .packages .package-card .package-overlay {
    left: 24px;
    right: 24px;
  }
  .main-content .pricing-header.has-thumbnail {
    padding: 30px 0 180px;
  }
  .packages .package-card .package-card-container .package-description {
    background-color: #FDE2D5;
  }
  .pricing-header.has-thumbnail+.packages {
    margin-top: -156px;
  }
  .navbar-expand-lg + .header-buttons {
    display: none;
  }
  #site-nav .header-buttons {
    padding: 24px;
    text-align: center;
  }
  header .menu-item-has-children>a.clicked::after {
    transform: rotate(90deg);
  }

  .page-id-418 .video-section {
    padding-bottom: 40px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .modules-card-container {
    margin-right: 40px;
  }
  .modules-card-container:nth-child(4n+4) {
    margin-right: 0;
  }
  .modules-archive .modules-card-container {
    width: 33.33%;
  }
  .search-form-container {
    margin: 50px 0;
  }
  .menu-with-titles {
    display: none;
  }
}


/* Portrait tablets and small desktops */
@media (min-width: 768px) {
  .overflow-image {
    overflow: hidden;
  }

  .right-aligned.overflow-image .featured-image {
    width: 1000px;
  }
  .featured-image {
    border-radius: 5px;
    min-height: 300px;
    overflow: hidden;
  }
  .main-content section {
    margin-top: 80px;
  }

  .main-content .career-footer .whats-offer .featured-image {
    margin-top: -160px;
    height: 320px;
  }
  .main-content section.why-inflo.overflow-image .featured-image {
    background-size: contain;
    height: 550px;
  }
  .resource-card-container .featured-image {
    min-height: 229px;
  }
  .main-content section:not(:last-child) {
    margin-bottom: 80px;
  }
  .fade {
    transition: 0.45s ;
  }
  .form-button-right .frm_style_formidable-style.with_frm_style .frm_form_field p,
  .form-button-right .frm_style_formidable-style.with_frm_style .frm_form_field .checkbox {
    padding-right: 160px;
  }

  .form-button-right .frm_style_formidable-style.with_frm_style .frm_submit {
    right: 0;
    bottom: 0;
    position: absolute;
  }
  footer {
    padding: 70px 0;
  }

  .modules-card-container .modules-card {
    height: 137px;
    width: 137px;
  }
  .teams .teams-content .teams-card .popup-team-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
  }
  .teams .teams-content .teams-card .popup-team-container .popup-team {
    min-height: 400px;
    padding: 56px 72px;
  }
  .single-content {
    margin-bottom: 80px;
  }
  .packages .package-card.highlighted::after {
    color: white;
  }
  .page-template-page-contact .main-content {
    padding: 50px 0 100px;
  }
  .testimonial-container .testimonial-card {
    padding: 70px 105px;
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  #menu-footer-menu,
  .menu-with-titles {
    display: none;
  }
  .featured-image {
    height: 45vw;
    margin: 0 -24px 10px;
  }
  .nav-control {
    display: none;
  }
  .main-content section:not(:last-child) {
    margin-bottom: 40px;
  }

  .main-content section.why-inflo.overflow-image .featured-image {
    background-size: cover;
    height: 300px;
    background-position: top;
  }
  .modules-card-container .modules-card {
    height: 28vw;
    width: calc(50vw - 130px);
  }
  .form-button-right .frm_style_formidable-style.with_frm_style .frm_submit {
    text-align: right;
  }
  footer {
    padding: 38px 0;
  }


  .teams .teams-content .teams-card .popup-team-container .popup-team {
    padding: 86px 24px;
  }
  .single-content  {
    margin-bottom: 40px;
  }
  .header-section .button-container .button:not(:last-child) {
    margin-bottom: 10px;
  }
  .page-id-152 .image-overlay-container {
    margin-bottom:  20px;
  }

  .packages .package-card.highlighted::after {
    color: black;
  }
  .search-form-container {
    margin: 30px 0;
  }
  .page-template-page-contact .main-content .contact-details {
    margin-bottom: 20px;
  }
  .page-template-page-contact .main-content {
    padding: 20px 0 50px;
  }
  .testimonial-container .testimonial-card {
    padding: 34px 46px;
  }
}

/* Landscape phones and smaller */
@media (max-width: 580px) {
  .resource-extra .featured-image {
    height: 100vw;
  }
  .modules-card-container .modules-card {
    height: 36vw;
    width: calc(50vw - 50px);
  }
}

@media (max-width: 480px) {}
