.post-template-elementor-full-width-custom,
.page-template-elementor-full-width-custom {

    &:not(.page-scrolled) {
        .header-light {
            .nav {
                &>li {
                    &>a {
                        color: $white !important;
                    }
                }
            }
        }
    }

    .detail-intro-section {
        min-height: 350px;
        padding: 0 !important;
    }

    .header-background-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        min-height: 350px;

        &.width--full {
            @extend %full-width;
        }

        &--clip {
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);

            @include media-breakpoint-down(md) {
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0 87.5%);
            }

            @include media-breakpoint-down(sm) {
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0 92.5%);
            }
        }

        &::after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            opacity: 0.4;
            background-color: rgb(12, 9, 9);
            z-index: 1;
        }
    }

    .header-background-content {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 100%;

        &__absolute {
            position: absolute;
            top: 0;
            left: 0;
            padding-left: 15px;
            padding-right: 15px;
            padding-bottom: 4rem;
            z-index: 2;
            min-height: 350px;

            .h2 {
                color: $white;
            }

            .breadcrumbs-list {
                li {
                    color: $white;

                    a {
                        color: $white;

                        &::after {
                            color: $white;
                        }
                    }
                }
            }

            .post-author {
                color: $white;
            }

            .post-date {
                color: $white;
            }

            .post-category {
                color: $white;
                margin: 0.5rem 0;
            }

            .header-separator {
                background-color: $white !important;
            }

            @include media-breakpoint-down(md) {
                padding-bottom: 4.5rem;
            }

            @include media-breakpoint-down(sm) {
                padding-bottom: 5rem;
            }
        }

        &.position--center {
            text-align: center;
            align-items: center;

            .blog-detail-info {
                align-items: center;
            }
        }

        &.position--right {
            text-align: right;
            align-items: flex-end;

            .blog-detail-info {
                align-items: flex-end;
            }
        }

        .post-author-and-date {
            display: flex;
            align-items: center;
            margin-bottom: 1rem;

            .post-author {
                margin-right: 0.5rem;
            }

            .post-date {
                margin-bottom: 0;
            }

            .post-date {
                font-weight: bolder;
                font-size: 14px;

                time {
                    margin-left: 0.5rem;
                }
            }
        }
        .header-separator {
            width: 100px;
            height: 4px;
            background-color: $yellow;
            border-radius: 10px;
            margin-bottom: 1rem;
        }
    }

    .blog-detail-info {
        display: flex;
        flex-direction: column;
    }

    .header-content {
        margin-top: 1rem;

        .breadcrumbs-holder {
            margin-bottom: 1rem;
        }
    }

    .article-content-section {
        .elementor-column-wrap {
            padding: 0 !important;
        }
    }

    .blog-detail-info {
        padding-top: 0;
    }

    .header-content {
        &.add-margin-top {
            margin-top: 100px;
        }
    }
}