.page-content {
    a {
        color: $blue !important;
        text-decoration: underline !important;

        &:hover,
        &:visited,
        &:focus {
            color: $orange !important;
            text-decoration: underline !important;
        }
    }
}