.honeycomb {
    &-wrapper {
        padding: 3rem 0 !important;
        display: flex;
        width: 100% !important;

        // .main-tab-content {
        //     display: flex;
        //     align-items: center;
        // }
    }

    &-block {}

    &-block__wrapper {
        width: 66% !important;

        @include media-breakpoint-down(sm) {
            width: 50% !important;
        }
    }

    &-item {}
}