/* Wrap the entire post style inside the TinyMCE selector, as suggested
here http://codex.wordpress.org/Function_Reference/add_editor_style */

@import 'functions';
@import 'variables';
@import 'mixins';
@import 'grid';

body#tinymce.wp-editor {
  font-family: sans-serif;

  .small-txt {
    font-size: 0.75rem;
  }

  /*********************
		LARGER MOBILE DEVICES
		This is for devices like the Galaxy Note or something that's
		larger than an iPhone but smaller than a tablet. Let's call them
		tweeners.
		*********************/
  @media only screen and (min-width: 481px) {
    /* at this larger size, we can start to align images */
    .alignleft,
    img.alignleft {
      display: inline;
      float: left;
      margin-right: 1.5em;
    }

    .alignright,
    img.alignright {
      display: inline;
      float: right;
      margin-left: 1.5em;
    }

    .aligncenter,
    img.aligncenter {
      display: block;
      clear: both;
      margin-right: auto;
      margin-left: auto;
    }
  }
  /*********************
	LINK STYLES
	*********************/
  a,
  a:visited {
    color: $link-color;
    font-weight:700;
    text-decoration: $link-decoration;
    transition: color 0.14s ease-in-out;

    @include hover-focus {
      color: $link-hover-color;
      text-decoration: $link-hover-decoration;
    }
  }

  p {
    margin: 0 0 1em;
  }

  dl,
  ol,
  table,
  ul {}

  ol,
  ul {
    padding-left: 2rem;

    li {}
  }

  ul {
    list-style-type: disc;

    li {}
  }

  ol {
    list-style-type: decimal;

    li {}
  }

  table {
    width: 100%;
    border: 1px solid $gray-500;
    margin: 1.5em 0;

    caption {
      margin: 0 0 7px;
      font-size: 0.75em;
      color: $gray-400;
      text-transform: uppercase;
      letter-spacing: 1px;
    }
  }

  tr {
    border-bottom: 1px solid $gray-500;

    &:nth-child(even) {
      background-color: $gray-200;
    }
  }

  td {
    padding: 7px;
    border-right: 1px solid $gray-500;

    &:last-child {
      border-right: 0;
    }
  }

  th {
    background-color: $gray-200;
    border-bottom: 1px solid $gray-500;
    border-right: 1px solid $gray-500;

    &:last-child {
      border-right: 0;
    }
  }

  blockquote {
    background-color: $gray-200;
    border-left: 8px solid $green-500;
    color: $body-color;
    font-size: 1.1rem;
    font-style: italic;
    font-weight: 100;
    margin: 0 0 1.5em 2rem;
    padding: 1.75em 1.5em;

    p {
      margin: 0;
    }

    &:before {}
  }

  hr {
    border-color: $gray-400;
    margin: 1.875rem 0;
  }

  dl {}

  dt {}

  dd {
    margin-left: 0;
    font-size: 0.9em;
    color: #787878;
    margin-bottom: 1.5em;
  }

  img {
    margin: 0 0 1.5em;
    max-width: 100%;
    height: auto;
  }
  /*
			image alignment on a screen this size may be
			a bit difficult. It's set to start aligning
			and floating images at the next breakpoint,
			but it's up to you. Feel free to change it up.
			*/
  .alignleft,
  img.alignleft {}

  .alignright,
  img.alignright {}

  .aligncenter,
  img.aligncenter {}

  .size-auto,
  .size-full,
  .size-large,
  .size-medium,
  .size-thumbnail {
    max-width: 100%;
    height: auto;
  }

  pre {
    background: $black;
    color: $gray-200;
    font-size: 0.9em;
    padding: 1.5em;
    margin: 0 0 1.5em;
    border-radius: 3px;
  }
}
/* end .entry-content */
.wp-caption {
  max-width: 100%;
  background: #eee;
  padding: 5px;
  margin-bottom: 1em;
  /* images inside wp-caption */
  img {
    max-width: 100%;
    margin-bottom: 0;
    width: 100%;
  }

  p.wp-caption-text {
    font-size: 0.85em;
    margin: 4px 0 7px;
    text-align: center;
  }
}
