body.login {}

#login {}
/* the form box */
/*
Add a custom logo to the WordPress login. Clients really like their logo here.
Just create image at 320x84px and replace images/login-logo.png (add a @2x image for retina - the function is below).
*/
.login h1 a {
  display: block;
  overflow: hidden;
  padding-bottom: 15px;
  width: 200px;
  height: 81px;
  background: url('../img/login-logo.png') no-repeat top center;
  /* make sure to replace this! */
  background-size: 200px 81px;
  text-indent: -9999px;
}

form {
  margin-left: 8px;
  padding: 26px 24px 46px;
  border: 1px solid #E5E5E5;
  border-radius: 3px;
  background: white;
  box-shadow: none;
  font-weight: normal;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif !important;
}

body form .input {
  margin-top: 2px;
  margin-right: 6px;
  margin-bottom: 16px;
  padding: 3px;
  width: 97%;
  outline: none;
  border: 1px solid #E5E5E5;
  background: #FBFBFB;
  box-shadow: inset 1px 1px 2px rgba(200,200,200,0.2);
  font-size: 24px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif !important;
}
/*
You'll have to override some of the default styles
but since we're referencing the id, it should be easy.
*/
#wp-submit {
  background-color: #309936;
  border: 0;
  text-transform: uppercase;
  font-weight: 700;
  text-shadow: none;
  box-shadow: none;
  padding: 0.25rem 1rem;
  height: auto;
}
/* login button*/
/*
retina login logo
*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  // you can put your 2x logo in here
  .login h1 a {
    width: 200px;
    height: 81px;
    background: url('../img/login-logo-x2.png') no-repeat top center;
    /* make sure to replace this! */
    background-size: 200px 81px;
  }
}
// end retina media query
