/*

Theme Name: Inflo Template

Description: Inflo Template is a child theme of Hello Elementor, created by Elementor team

Template: hello-elementor

Version: 1.0.1

Text Domain: hello-elementor-child

*/

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 
{
    font-family: "Baloo 2", "Lato", "Helvetica", "Arial", sans-serif !important;
}

body {
    font-family: "Lato", "Helvetica", "Arial", sans-serif !important;
    line-height: 1.25 !important;
}

h2, .h2 {
    font-size: 24px !important;
    font-weight: 600;
    margin-bottom: 20px !important;
    line-height: 1 !important;
}

@media (min-width: 1024px) {
    h2, .h2 {
        font-size: 38px !important;
    }
}



h4, .h4 {    
    font-weight: 500 !important;
    line-height: 1.2 !important;
    margin-bottom: 15px !important;
    color: #5a5d65 !important;
}

@media (min-width: 1024px){
    h1, .h1 {
        font-size: 56px !important;
    }
}

h1, .h1 {   
    font-weight: 700 !important;   
}

.slide-text-block
{   
	width: 41.5% !important;
    margin-right: auto;
}

.slide-image-block {
    width: 45% !important;
    margin-top: 70px;
    height: fit-content !important;
}

@media (max-width: 1023px) {
    .higher-z h3
    {
        font-size: 20px !important; 
    }
}

.features-section > .elementor-container,
.features-section > .elementor-container > .container/*,
.features-section > .elementor-container > .anim-bg-line*/
{
	max-width: 100% !important;
	width: 100% !important;
}

.higher-z
{
	z-index: 999;
}

.eicon-play::before
{
	content: "";
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-image: url(http://kwrdev.itcraftlab.com/wp-content/uploads/2021/02/icon-41.png);
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.testimonials-slider .slick-slide > .elementor-column
{
	width: 100% !important;
}

.testimonials-slider > div
{
	width: 100% !important;
	max-width: 100% !important;
	display: block !important;
}

.information-section article {
    display: block;
    background-color: #58595d !important;
    padding: 10px 10px 20px !important;
    color: #fbb038;
    font-size: 14px;

}

.information-section article .elementor-post-author,
.information-section article .elementor-post-date
{
	color: #fbb038;
	display: block;
    font-size: 14px;
}

.information-section article .elementor-post-author{
	margin-bottom: 5px;
    font-weight: 700;
}

.information-section article .elementor-post-date::before{
    content: 'Posted';
}

.information-section article img
{
	background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;    
    position: relative;
    margin-bottom: 18px;      
}

.information-section .elementor-post__thumbnail__link {
	display: inline !important;
}

.form-control
{
	border: 0 !important;
    background-color: #edeef1 !important;
    padding: 7px 9px !important;
    font-size: 16px !important;
    font-family: "Lato", "Helvetica", "Arial", sans-serif !important;
    line-height: normal !important; 
}

.single-form-row [type="submit"] {
    border-radius: 3em !important;    
    font-weight: 700 !important;
    color: #fff !important;
    line-height: normal !important;
}

.partners-section > div > .container > div
{
    padding: 0 !important;
}

.partners-list > .elementor-container
{
    width: 100%;
}

.partner-icons > div {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.features-slider {
    
    margin: 0 auto !important;
    padding: 0 16px !important;
}

.features-slider > div {
    max-width: 1044px !important;
}

.anim-bg-line::before{
    width: 120% !important;
}

@media (min-width: 768px) {
    .features-item h2, .features-item .h2 {
        margin-bottom: 6px !important;
    }
}

.features-item h2, .features-item .h2 {
    margin-bottom: 1px;
    line-height: 1;
}

.show-more-block.features-holder{
    max-width: 1044px !important;
    margin: 0 auto !important;
    /*padding: 0 16px !important;*/
}

@media (min-width: 768px) {
    .show-more-block.features-holder > div
    {
        display: flex;
        flex-wrap: wrap;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        margin: 0 -10px;
    }

    .features-holder .features-item {
        width: 42% !important;
    }
}

@media (min-width: 768px){
.features-item h2, .features-item .h2 {
    margin-bottom: 6px;
}}

.featured-item-text p
{
    margin-bottom: 0 !important;
}

.featured-item-cta p
{
    margin-bottom: 0 !important;
}

@media (min-width: 768px) {
    .video-popup-block h2, .video-popup-block .h2 {
        text-align: center;
        margin: 0 auto 22px;
    }
}
.video-popup-block h2, .video-popup-block .h2 {
    max-width: 550px;
    margin: 0 auto;
    font-weight: 600 !important;
}

.video-title-holder
{
    margin-bottom: 0 !important;
}

@media (min-width: 1024px) {
    .h4 h3 {
        margin-bottom: 67px !important;
    }
}

.h4 h3 {
    margin-bottom: 26px !important;
}

@media (min-width: 1024px) {
    .h4 h3 {
        font-size: 24px !important;
    }

    h5, .h5 {
        font-size: 16px !important;
    }
}

.benefits-text-block h2
{
    font-weight: 600 !important;
}

@media (min-width: 768px) {
    .features-item .h2 h3 {
        margin-bottom: 6px !important;
    }
}

.features-item .h2 h3 {
    margin-bottom: 1px !important;
    line-height: 1 !important;
}

@media (min-width: 1024px) {
    .h2 h3 {
        font-size: 38px !important;
    }
}

@media (max-width: 1023px) {
    .h2 h3 {
        font-size: 24px !important;
    }

    .benefits-block
    {
        padding-bottom: 0px !important;
    }

    .benefits-text-block,
    .benefit-text
    {
        margin-bottom: 0 !important;
    }

    .benefits-holder .features-item
    {
        width: 100% !important;
    }
}

@media (min-width: 1024px){
	.information-section article {
	    padding: 10px 10px 25px !important;
	}

	.eicon-play::before {
	    width: 60px;
	    height: 60px;
	}

	.information-section article img
	{
		margin-bottom: 14px;
	}
}

.testimonials-section h2
{
    font-weight: 600 !important;
}

@media (min-width: 768px) {
	.testimonial-item .img-block {	
	width: 62% !important;
	}

	.testimonial-item .text-block {
	width: 38% !important;
	}
}



.partners-section h2
{
    font-size: 24px !important;
    font-weight: 500 !important;
}

@media (max-width: 767px) {
    .partners-section h2
    {
        font-size: 20px !important;        
    }

    .partners-list{
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }

    .partner-icons
    {
        padding-bottom: 10px;
    }

    .slide-text-block, .slide-image-block {
        width: 100% !important;
    }

    .slide-image-block {
        margin-top: 0 !important;
    }

    .testimonial-item .img-block {
        
        padding-top: 0 !important;
        
    }

}

.slide-text-block .btn
{
    margin-top: 36px;
}

.slide-text-block img
{
    margin-bottom: 28px !important;
}

.benefits-text-block .h6.subtitle{
    font-family: "Lato", "Helvetica", "Arial", sans-serif !important;
}

.testimonial-slide .img-block
{
    margin-bottom: 0 !important;
}

.after-testimonial
{
    margin-bottom: 0 !important;
}

.information-section h2
{
    font-weight: 600 !important;
    color: #858a94 !important;
}

.information-section article .elementor-post__title a {
    color: #fff;
    font-family: "Lato", "Helvetica", "Arial", sans-serif;
    font-size: 16px;
    line-height: 1.1875;
    margin-bottom: 8px;
    font-size: 20px;
}

.information-section .elementor-posts-container {
    --grid-column-gap: 10px;
    grid-template-columns: repeat(3,1fr) !important;
}

@media (max-width: 767px) {
    .elementor-grid-mobile-1 .elementor-grid {
        grid-template-columns: repeat(1,1fr) !important;
    }
}

.information-section .elementor-posts-container article {
    margin-top: 0 !important;
}

#header .nav .submenu-block h4{
    font-size: 14px;
    font-weight: 700 !important;
    text-transform: uppercase;
    margin-bottom: 5px !important;
    font-family: "Lato", "Helvetica", "Arial", sans-serif !important;
    margin-top: 0 !important;
}

#footer .footer-subtitle {
    font-family: "Lato", "Helvetica", "Arial", sans-serif !important;
    font-size: 14px !important;   
}

.features-section .anim-line {    
    top: 20% !important;    
}

.features-section .border-img {
    top: -20px !important;
}

.features-section .border-decor
	{
	z-index: 999;
	left: 50%;
	}

@media (min-width: 1024px) {
	.features-section .border-decor
	{
	    
	    top: 250px;	    
	}
}

@media (max-width: 767px) {
    .features-section .border-decor
    {        
        top: 50px;
    }
}

.testimonial-slide
{
    padding: 0 !important;
}

.features-section .hidden-one
{
    display: none;
}

.elementor-editor-active .features-section .hidden-one
{
    display: block;
}

#header_lang_switcher
{
    /*position: absolute;
    right: 20px;
    top: 40px;*/
    padding-left: 10px;
}

#header_lang_switcher li,
#footer_lang_switcher li
{
    list-style-type: none; 
}

#header_lang_switcher li:not(:last-child),
#footer_lang_switcher li:not(:last-child)
{
    padding-bottom: 6px;
}

#header_lang_switcher li a,
#footer_lang_switcher li a
{
    color: #39b54a;
}

#header_lang_switcher li a:hover,
#footer_lang_switcher li a:hover
{
    color: #fbb68b !important;
}

.wpml-language-nav .wpml-language-nav-sub-wrapper
{
    background: #fff;
    position: absolute;   
    box-shadow: 10px -10px 10px 0 rgb(11 12 12 / 20%); 
}

#wpml_opener,
#wpml_opener_footer
{
    color: #fff;
}

.wpml-language-nav .wpml-language-navigation
{
    padding: 6px !important;    
}

.elementor-editor-active .info-block
{
    display: block !important;
    opacity: 1 !important;
    visibility: visible !important;
    position: initial !important;
}



.product-section h1 {
    font-size: 24px !important;
    font-weight: 600 !important;
    margin-bottom: 20px !important;
    line-height: 1 !important;
}

@media (min-width: 1024px){

    .product-section h1 {
        font-size: 38px !important;
    }

}

.product-section .section-title .h2
{
    margin: 0 !important; 
}

.product-section > div .container > div,
.product-section .section-title > div > div > div
{
    padding-top: 0 !important;
}

.product-section
{
    padding-bottom: 0 !important;
}

main {
    max-width: 100% !important;
}

header.page-header
{
    display: none;
}

.cta-text-no-margin
{
    margin-bottom: 0 !important;
}

.product-section .featured-card-list > div{
    width: 100% !important;
}

.product-section .main-block
{
    margin: 0 !important;
}

.featured-card > div {
    padding: 0 !important;
}

.product-section .info-block a {
    color: #39b54a;
}

.product-section .info-block a:hover
{
    color: #fbb68b;
}

.product-section .featured-card-list > div:focus {
    
    outline: 0 !important;
}

.elementor-editor-active .faq-accordion.accordion .accordion-item-slide
{
    display: block !important;
}



@media (min-width: 768px) {
 .contact-us-section .two-col-holder > div {
    padding: 40px 0 30px !important;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-wrap: wrap !important;
        flex-wrap: wrap !important;
    margin: 0 -10px !important; } }

@media (min-width: 1024px) {
  .contact-us-section .two-col-holder > div {
    margin: 0 -20px !important; } }

@media (min-width: 1200px) {
  .contact-us-section .two-col-holder > div {
    margin: 0 -50px !important; } }

.two-col-holder .col {
  margin-bottom: 43px !important; }
  @media (min-width: 768px) {
    .two-col-holder .col {
      margin: 0 !important;
      width: 50% !important;
      padding: 0 10px !important; } }
  @media (min-width: 1024px) {
    .two-col-holder .col {
      padding: 0 20px !important; } }
  @media (min-width: 1200px) {
    .two-col-holder .col {
      padding: 0 50px !important; } }
  .two-col-holder .col:only-child {
    width: 100% !important; }

    .contact-us-section .contact-columns > div {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: column !important;
          flex-direction: column !important; }
  @media (min-width: 768px) {
    .contact-us-section .contact-columns > div {
      padding: 8px 0 !important;
      display: block !important; } }
  @media (min-width: 1200px) {
    .contact-us-section .contact-columns > div {
      margin: 0 -30px !important; } }
  .contact-us-section .contact-columns > div:after {
    content: "" !important;
    display: table !important;
    clear: both !important; }
  .contact-columns .col {
    -webkit-box-ordinal-group: 3 !important;
        -ms-flex-order: 2 !important;
            order: 2 !important; }
    @media (min-width: 768px) {
      .contact-columns .col {
        float: right ;
        margin-bottom: 34px !important; } }
    @media (min-width: 1200px) {
      .contact-columns .col {
        padding: 0 30px !important; } }
    .contact-columns .col:last-child {
      margin-bottom: 0 !important; }
    .contact-columns .col.first-col {
      -webkit-box-ordinal-group: 2 !important;
          -ms-flex-order: 1 !important;
              order: 1 !important; }

.cont-float-left
{
    float: left !important;
}

.accordion-item.active-item .accordion-item-slide {
    display: block !important;
}

.contact-us-section .accordion-item-slide-content .img-holder,
.contact-us-section .accordion-item-slide-content .address-holder
{
    display: inline-block !important;
}

.contact-us-section .accordion-item-slide-content .img-holder
{
    width: 50%;
}

.contact-us-section .accordion-item-slide-content .address-holder
{
    width: 44%;
    padding-left: 3%;
    padding-right: 3%;
    vertical-align: top;
}

.contact-us-section label{
    display: block !important;
    font-size: 14px !important;
    color: #5a5d65 !important;
    margin-bottom: 5px !important;
}

.contact-us-section input,
.contact-us-section textarea
{
    display: block !important;
    width: 100% !important;
    border: 0 !important;
    border-radius: 2px !important;
    background-color: #edeef1 !important;
    padding: 10px 9px !important;
    font-size: 16px !important;
    font-family: "Lato", "Helvetica", "Arial", sans-serif !important;
    -webkit-transition: outline 0.4s ease-in-out !important;
    -o-transition: outline 0.4s ease-in-out !important;
    transition: outline 0.4s ease-in-out !important;
    margin: 0 0 8px !important;
}

.contact-us-section .hs-richtext{
    font-size: 14px;
    padding: 20px 0 23px;
    text-align: justify;
}

.contact-us-section .hs-richtext p{
    margin: 0 !important;
}

.contact-us-section .hs-button {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    padding: 6px 18px;
    min-width: 120px;
    max-width: 100%;
    text-align: center;
    border-radius: 3em !important;
    border: 1px solid transparent;
    font-size: 14px;
    font-weight: 700;
    background-color: #39b54a;
    background: -webkit-gradient(linear, left top, right top, from(#fbb038), color-stop(25%, #fbb038), color-stop(50%, #a0b244), color-stop(75%, #39b54a), to(#30955c));
    background: -webkit-linear-gradient(left, #fbb038 0%, #fbb038 25%, #a0b244 50%, #39b54a 75%, #30955c 100%);
    background: -o-linear-gradient(left, #fbb038 0%, #fbb038 25%, #a0b244 50%, #39b54a 75%, #30955c 100%);
    background: linear-gradient(
90deg
, #fbb038 0%, #fbb038 25%, #a0b244 50%, #39b54a 75%, #30955c 100%);
    background-size: 200%;
    background-position: 99% 50%;
    -webkit-transition: color 0.4s ease-in-out, border 0.4s ease-in-out, background 0.4s ease-in-out, -webkit-box-shadow 0.4s ease-in-out;
    transition: color 0.4s ease-in-out, border 0.4s ease-in-out, background 0.4s ease-in-out, -webkit-box-shadow 0.4s ease-in-out;
    -o-transition: color 0.4s ease-in-out, border 0.4s ease-in-out, background 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
    transition: color 0.4s ease-in-out, border 0.4s ease-in-out, background 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
    transition: color 0.4s ease-in-out, border 0.4s ease-in-out, background 0.4s ease-in-out, box-shadow 0.4s ease-in-out, -webkit-box-shadow 0.4s ease-in-out;
    color: #fff;
    width: 160px !important;    
    margin: auto !important;
}

@media (max-width: 1023px) {
    .contact-us-section .section-title h1 {
        font-size: 24px !important;
    }
}

@media (min-width: 1024px) {
    .contact-us-section .section-title h1 {
        font-size: 38px !important;
    }
}

.contact-us-section .section-title h1 {
    padding: 0 5px !important;    
    line-height: 1.25 !important;
    font-family: "Baloo 2", "Lato", "Helvetica", "Arial", sans-serif !important;
    text-align: center !important;
    max-width: 700px !important;    
    color: #2e3035 !important;
    font-weight: 600 !important;    
}

.contact-us-section .section-title > div > div > div {
    padding: 0 !important;
}

.contact-us-section .section-title {
    margin-bottom: 0 !important;
}

.contact-us-section > div > div > div {
    padding: 0 !important; 
}

.contact-us-section .accordion-item-title
{
    margin: 0 !important;
}

.contact-us-section .accordion-item
{
    margin-bottom: 8px !important;
}

.contact-accordion-holder > div
{
    padding: 0 !important; 
}

.contact-accordion-holder > div > .text-center
{
    margin: 0 !important; 
}

.contact-us-section h4{
    color: #2e3035 !important;
}

.contact-us-section .two-col-holder {
    padding-top: 0 !important;
}

.faq-section .h4
{
    text-align: center !important;
}

.faq-section .accordion-item {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}

.member-item-photo {
    width: 139px !important;
    height: 139px !important;
    display: inline-block;
}

@media (min-width: 1024px){
	.member-item-photo {
	    width: 216px !important;
	    height: 216px !important;
	}
}

.story-row > div {
  margin-bottom: 44px; }
  @media (min-width: 768px) {
    .story-row  > div {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin: 0 -10px 70px; } }
  @media (min-width: 1024px) {
    .story-row  > div {
      margin: 0 -20px 70px; } }
  @media (min-width: 1200px) {
    .story-row  > div {
      margin: 0 -20px 70px !important; } }
    @media (min-width: 1200px) {
    .story-row  {
      margin: 0 !important; } }
  @media (min-width: 768px) {
    .story-row.reversed-lg  > div {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
          -ms-flex-direction: row-reverse;
              flex-direction: row-reverse; } }
  .story-row .text-block {
    margin-bottom: 25px; }
    @media (min-width: 768px) {
      .story-row .text-block {
        margin-bottom: 0;
        width: 50%;
        padding: 0 10px; } }
    @media (min-width: 1024px) {
      .story-row .text-block {
        padding: 0 20px; } }
    @media (min-width: 1200px) {
      .story-row .text-block {
        padding: 0 40px; } }
    .story-row .text-block p:last-child {
      margin-bottom: 0; }
  .story-row .members-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media (min-width: 768px) {
      .story-row .members-block {
        width: 50%;
        padding: 0 10px; } }
    @media (min-width: 1024px) {
      .story-row .members-block {
        padding: 0 20px; } }
    @media (min-width: 1200px) {
      .story-row .members-block {
        padding: 0 20px !important; } }

 .story-section-title
 {
 	z-index: -1;
 }

 .story-section-title .logo
 {
 	margin: auto;
 }

 .map-row > div {
  margin-bottom: 90px; }
  @media (min-width: 768px) {
    .map-row > div {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
          -ms-flex-direction: row-reverse;
              flex-direction: row-reverse;
      margin: 0 -10px 66px; } }
  @media (min-width: 1200px) {
    .map-row > div {
      margin: 0 -40px 66px; } }

.elementor-editor-active .custom-popup
{
    display: block !important;
}

.member-item .member-link,
.member-item .member-bio
{
	display: none;
}

.elementor-editor-active .member-item .member-link,
.elementor-editor-active .member-item .member-bio
{
	display: block !important;
}

.member-list .member-item {
    cursor: pointer;
}

@media (min-width: 768px){
	.member-list .member-item {
	    width: calc(50% - 10px) !important;
	}
}

@media (min-width: 1024px){
	.member-list .member-item {
	    width: calc(25% - 10px) !important;	    
	}
}

@media (min-width: 768px) {
  .member-list > div {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 -5px; } }

.intro-section h1 {
	font-size: 24px !important;
}

@media (min-width: 1024px){
	.intro-section h1 {
	    font-size: 38px !important;
	}
}

.intro-section .three-columns > div
{
	width: 100%;
}

.intro-section .price-title,
.intro-section .price-subtitle
{
	font-family: "Baloo 2", "Lato", "Helvetica", "Arial", sans-serif !important;
}

.story-section .text-block a,
.member-info-block a {
	color: #39b54a;
}

.members-block > div {
	    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.member-section > div
{
	width: 100% !important;
	max-width: 100% !important;
}

.member-section .container
{
	max-width: 1092px !important;
	padding: 0 !important;
}

.member-section .container > div,
.map-block > div
{
	padding: 0 !important;
}

.member-section h2 
{
	color: #fff;
}

.member-section .member-name,
.member-section .member-position
{
	color: #fff !important;	
}

.member-section .member-name
{
	font-weight: 600 !important;	
}

.member-section .member-position
{
	font-weight: 400 !important;
}

.member-holder > div:focus {
    
    outline: 0 !important;
}

.career-preview-section .section-title h2
{
	font-size: 20px !important;
	color: #2e3035 !important;
}

.career-preview-section .section-title div.h4
{
	margin-bottom: 0 !important;
}

.career-preview-section .elementor-widget-wrap{
	padding: 0 !important;
}

@media (min-width: 1024px){
	.career-preview-section .section-title h2
	{
		font-size: 24px !important;
	}
}

.testimonial-item.career-block .img-block {
	margin: 0 !important;
}

@media (min-width: 768px) {
	.testimonial-item.career-block .img-block {
	    width: 50% !important;
	}
	.testimonial-item.career-block .text-block {
	    width: 50% !important;
	}
}

.testimonial-item .img-block > div,
.testimonial-item .img-block > div > div
{
	height: 100%;
}

@media (min-width: 1024px) {
	.testimonial-item .img-block img {
	    max-width: 100% !important;
	    max-height: 100% !important;
	}
}

.testimonial-item .elementor-custom-embed-play{
	z-index: 9;
}

.testimonial-item .img-block img {
    display: block;
    
    z-index: 1;
    top: 50%;
    left: 50%;
    
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

@media (min-width: 768px) {
	.testimonial-item .img-block img
	{
		position: absolute;
		-webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
	}
}

.testimonial-item h3 {
	font-size: 32px;
	font-weight: 700;
}

.popup-here
{
	display: none;
}

.elementor-editor-active .popup-here
{
	display: block !important;
}

@media (min-width: 768px) and (max-width: 1023px){
	
	.story-section .colored-title-block,
	.story-section .story-row {
		top: -150px;
	}

	.story-section .story-row.reversed-lg {
		top: -50px;
	}

	.story-section .story-section-title {
		top: -200px;
	}

	.container.story-block {
		margin-bottom: -300px;
	}
}

@media (max-width: 1023px) {
	.map-block {
		padding-left: 20px !important;
	}
}

.elementor-column-gap-default>.elementor-column>.elementor-element-populated,
.site-main
{
	padding: 0 !important;
}

@media (max-width: 767px){
	.story-row .text-block,
	.map-row .text-block
	{
		font-size: 14px;
	}

	.map-row
	{
		padding-left: 15px;
		padding-right: 15px;
	}

	.story-row,
	.map-row {
		margin-bottom: 0 !important; 
	}

	.map-row .map-block {
		margin: 0 !important;
	}

	.career-block .text-block h3 {
		font-size: 20px !important;
	}

	.career-block .text-block p {
		font-size: 14px !important;
	}
}

@media (min-width: 1024px){

	.story-block .story-section-title{
		margin-top: 80px;
	}
}

@media (min-width: 768px)
{
    .sources-intro-section .section-title {
        margin-bottom: 65px !important;
    }
}

.post-slider:not(.slick-slider) {
    margin-left: auto !important;
    margin-right: auto !important;
}

.post-slider:not(.slick-slider) article {
    display: block;
    
    padding: 10px 10px 20px;
    color: #fbb038;
    font-size: 14px;

}

.post-slider.post-light .elementor-post__title:hover {
    color: #fbb038;
}

.post-slider.post-light .elementor-post__title {
   
    color: #2e3035;
    font-size: 20px;
    font-weight: 600; 
    font-family: "Lato", "Helvetica", "Arial", sans-serif !important;
    margin-bottom: 10px;
}

.post-slider.post-light > div {
    width: 100% !important;
}

.post-slider.post-light article {
    background-color: #fff !important;
}

.post-slider:not(.slick-slider) article .elementor-post-author,
.post-slider:not(.slick-slider) article .elementor-post-date
{
    color: #fbb038;
    display: block;
    font-size: 14px;
}

.post-slider:not(.slick-slider) article .elementor-post-author{
    margin-bottom: 5px;
    font-weight: 700;
}

.post-slider:not(.slick-slider) article .elementor-post-date::before{
    content: 'Posted';
}

.post-slider:not(.slick-slider) article img
{
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;    
    position: relative;
    margin-bottom: 18px;      
}

.information-section .elementor-post__thumbnail__link {
    display: inline !important;
}

.sources-intro-section h1
{
    color: #2e3035 !important;
    font-size: 38px !important;
    font-weight: 600 !important;
}

.sources-intro-section h2,
.sources-section h2
{
    font-size: 32px !important;
    font-family: "Baloo 2", "Lato", "Helvetica", "Arial", sans-serif !important;
    font-weight: 700 !important;
    margin-bottom: 0 !important;
}

.sources-intro-section .btn-position-top,
.sources-section .btn-position-top {
    
    text-align: center;
}

@media (min-width: 768px) {
    .sources-intro-section .btn-position-top,
    .sources-section .btn-position-top {
        position: absolute;
        right: 0;
        top: -5px;
        padding: 0;
        float: right !important;
        margin-top: 100px;
        text-align: right;
    }

    .sources-section .btn-position-top {
        margin-top: 0px;
    }
}

@media (min-width: 768px) {
    .use-cases-container .elementor-post__read-more {
        padding: 6px 18px;
        min-width: 120px;
    }
}

.use-cases-container .elementor-post__read-more {
    background: transparent;
    border: 1px solid #39b54a !important;
    color: #39b54a !important;
    font-size: 16px !important;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    padding: 6px 18px;
    min-width: 120px;
    max-width: 100%;
    text-align: center;
    border-radius: 3em;
    border: 1px solid transparent;
    font-size: 14px;
    font-weight: 700 !important;    
    cursor: pointer;
    outline: none;
    text-decoration: none;
    margin-top: 44px;
}

.use-cases-container .elementor-post__read-more:hover {
    background-color: #39b54a;
    color: #fff !important;
}

.use-cases-container article {

    padding: 30px 24px !important;

}

.sources-section .elementor-post__excerpt a,
.sources-intro-section .elementor-post__excerpt a {
    color: #858a94;
    text-transform: uppercase;
    font-weight: 700;
    
}

.post-slider.post-light .elementor-post__excerpt a:hover {
    color: #fbb038;
}

.sources-section .elementor-post__excerpt,
.sources-intro-section .elementor-post__excerpt
{
    margin-top: 23px;
}

.use-cases-container .elementor-post__excerpt
{
    margin-top: 0;
}

.use-cases-container .elementor-post__excerpt a::before {
    content: url(images/rocket-small.png);    
}

.guidance-section .section-title h3
{
    font-size: 32px !important;
}

@media (min-width: 1024px)
{
    .guidance-cards .elementor-widget-text-editor {
        width: calc(50% - 40px);
    }
}
@media (min-width: 768px)
{
    .guidance-cards .elementor-col-50 {
        width: calc(50% - 20px) !important;
        margin: 0;
        min-height: 0;
    }
}

.guidance-cards .elementor-col-50 {
    width: 100%;
    margin: 0 0 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 164px;
}

.guidance-cards > div
{
    width: 100% !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 910px;
}

.guidance-section .section-title {
    margin-bottom: 30px !important;
}

@media (min-width: 768px) {
    .guidance-section .section-title {        
        margin-bottom: 75px !important;
    }
}

.cta-block.cta-learn {
    font-weight: 700 !important;
    color: #5a5d65 !important;
}

.post-slider:not(.slick-slider) article:hover {
  -webkit-box-shadow: 0 10px 20px 0 rgba(133, 138, 148, 0.3);
  box-shadow: 0 10px 20px 0 rgba(133, 138, 148, 0.3);
}
