/*

Theme Name: Inflo Template

Description: Inflo Template is a child theme of Hello Elementor, created by Elementor team

Template: hello-elementor

Version: 1.0.1

Text Domain: hello-elementor-child

*/

#header .nav .submenu-block h4{
    font-size: 14px;
    font-weight: 700 !important;
    text-transform: uppercase;
    margin-bottom: 5px !important;
    font-family: "Lato", "Helvetica", "Arial", sans-serif !important;
    margin-top: 0 !important;
}

#footer .footer-subtitle {
    font-family: "Lato", "Helvetica", "Arial", sans-serif !important;
    font-size: 14px !important;   
}

#header_lang_switcher
{
    /*position: absolute;
    right: 20px;
    top: 40px;*/
    padding-left: 10px;
}

#header_lang_switcher li,
#footer_lang_switcher li
{
    list-style-type: none; 
}

#header_lang_switcher li:not(:last-child),
#footer_lang_switcher li:not(:last-child)
{
    padding-bottom: 6px;
}

#header_lang_switcher li a,
#footer_lang_switcher li a
{
    color: #39b54a;
}

#header_lang_switcher li a:hover,
#footer_lang_switcher li a:hover
{
    color: #fbb68b !important;
}

.wpml-language-nav .wpml-language-nav-sub-wrapper
{
    background: #fff;
    position: absolute;   
    box-shadow: 10px -10px 10px 0 #0C0C0B; 
}

#wpml_opener,
#wpml_opener_footer
{
    color: #fff;
}

.wpml-language-nav .wpml-language-navigation
{
    padding: 6px !important;    
}

.bg-dark-grey .custom-popup
{
    color: #000;
    text-align: left;
}

.container .elementor-widget-wrap
{
    padding: 0 !important;
}

.elementor-widget-wrap>.elementor-element
{
    /*width: auto !important;*/
}

.col.use-case-img .elementor-widget-image {
    margin: auto !important;
}

@media (max-width: 767px) {
    .reverse .use-case-img {
        order: -1;
    }
}

.use-case-preview-sm .title a
{
    color: #000;
}

.use-case-preview-section.bg-grey .use-case-preview-sm .title a
{
    color: #858a94 !important;
} 

input {
    border: initial !important;
}

#digital_audit_popup > div
{
    max-height: initial !important;    
    width: auto;
    margin-top: 100px;
}

.digital-audit-form-holder
{
    margin: auto;
}

/*#digital_audit_popup input[type="checkbox"]:after{
    content: '\2713';
    font-size: 10px;    
}*/

#digital_audit_popup input[type="checkbox"]
{
    width: auto !important;
    display: inline-block;
    padding: 5px;  
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance:none;
  outline: 2px solid lightblue;
  box-shadow: none;
  font-size: 2em;  
    border-color: #39b54a;
    color: #edeef1;
    margin-top: 2px;
}

#digital_audit_popup input[type="checkbox"]:checked:after
{    
    content: '\2713';
    font-size: 10px;
    background-color: #39b54a;
    color: #fff;
    position: absolute;
    padding: 2px 5px;
    margin-left: -10px;
    margin-top: -10px;
}

#digital_audit_popup .actions
{
    text-align: center;
}

nav.navigation.pagination
{
	display: none;
}

.lang-name
{
    color: #39b54a;
}

.white-section
{
    background: #fff !important;
}

.pricing-boxes-margin
{
    margin-top: 40px !important; 
}

.pricing-section .partners-section,
.product-section .partners-section
{
    /*margin-left: -50% !important;*/
    /*margin-right: -50% !important;*/
}

.graphic-holder
{
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: center;
}

.product-section .benefits-block,
.product-detail-section .more-studies-section
{
    padding-top: 0 !important;
}

.stats-career
{
    margin-top: 30px;
}

.accountants-default .benefits-block 
{
    padding-top: 0 !important;
}

.accountants-default
{
    padding-bottom: 0 !important;
}

.accountants-colored a
{
    color: #fff;
    text-decoration: underline;
}

.accountants-colored .colored-title-block
{
    margin-bottom: 20px !important;
}

.accountants-default .features-item
{
    margin-bottom: 0px !important;
}

.accountants-business-features,
.accountants-business-pretestimonial
{
    padding-bottom: 40px !important;
    padding-top: 40px !important;
}

.accountants-business-features .feature-card-holder
{
    text-align: center;
}

@media (min-width: 768px) {
    .accountants-business-section .solutions-features-card-holder .solutions-features-card {
        width: calc(24.33% - 20px) !important;
        
    }
}

@media (min-width: 1024px) {
    .accountants-business-section .solutions-features-card-holder .solutions-features-card {
        width: calc(24.33% - 60px) !important;
        
    }
}

.how-works-section
{
    padding-bottom: 20px;
}

@media (min-width: 1024px){
    .how-works-section .featured-card-list .featured-card {
        width: calc(33% - 10px);
    }
}

.how-works-section .featured-card-list {
    align-items: center; 
    justify-content: center;
}

.plan-detail
{
    width: 50%;
    margin: auto;
}

.pricing-features .main-block img
{
    max-height: 32px !important;
    width: auto !important;
    margin-top: 20px !important;    
}

.removed-sections {
    padding-bottom: 20px !important;
}

.cta-pricing
{
    padding-bottom: 80px 
}

.cta-pricing p 
{
    margin-bottom: 0;        
}

.cta-pricing h3 
{
    color: #000 !important;
}

.member-popup .network-list li
{
    margin-right: 10px;
}

.product-section .feature-card-holder .subtitle-text {
    max-width: 640px;
    margin: 0 auto 33px;
    line-height: 1.3;
}

.homepage-numbers .price-title
{
    color: #fbb038 !important;
}

.homepage-numbers .price-subtitle
{
    color: #5a5d65 !important;
}

/*Set custom styles for elementor tempalte on inflo pulse page*/
.page-id-12128 .elementor-container {
    max-width: 1320px!important;
}