// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$inflo-logo-footer-name: 'inflo-logo-footer';
$inflo-logo-footer-x: 0px;
$inflo-logo-footer-y: 0px;
$inflo-logo-footer-offset-x: 0px;
$inflo-logo-footer-offset-y: 0px;
$inflo-logo-footer-width: 185px;
$inflo-logo-footer-height: 75px;
$inflo-logo-footer-total-width: 185px;
$inflo-logo-footer-total-height: 152px;
$inflo-logo-footer-image: '../img/ui/sprites/spritesheet.png';
$inflo-logo-footer: (0px, 0px, 0px, 0px, 185px, 75px, 185px, 152px, '../img/ui/sprites/spritesheet.png', 'inflo-logo-footer', );
$inflo-logo-header-name: 'inflo-logo-header';
$inflo-logo-header-x: 0px;
$inflo-logo-header-y: 77px;
$inflo-logo-header-offset-x: 0px;
$inflo-logo-header-offset-y: -77px;
$inflo-logo-header-width: 184px;
$inflo-logo-header-height: 75px;
$inflo-logo-header-total-width: 185px;
$inflo-logo-header-total-height: 152px;
$inflo-logo-header-image: '../img/ui/sprites/spritesheet.png';
$inflo-logo-header: (0px, 77px, 0px, -77px, 184px, 75px, 185px, 152px, '../img/ui/sprites/spritesheet.png', 'inflo-logo-header', );
$inflo-logo-footer-2x-name: 'inflo-logo-footer-2x';
$inflo-logo-footer-2x-x: 0px;
$inflo-logo-footer-2x-y: 0px;
$inflo-logo-footer-2x-offset-x: 0px;
$inflo-logo-footer-2x-offset-y: 0px;
$inflo-logo-footer-2x-width: 370px;
$inflo-logo-footer-2x-height: 150px;
$inflo-logo-footer-2x-total-width: 370px;
$inflo-logo-footer-2x-total-height: 304px;
$inflo-logo-footer-2x-image: '../img/ui/sprites/spritesheet-2x.png';
$inflo-logo-footer-2x: (0px, 0px, 0px, 0px, 370px, 150px, 370px, 304px, '../img/ui/sprites/spritesheet-2x.png', 'inflo-logo-footer-2x', );
$inflo-logo-header-2x-name: 'inflo-logo-header-2x';
$inflo-logo-header-2x-x: 0px;
$inflo-logo-header-2x-y: 154px;
$inflo-logo-header-2x-offset-x: 0px;
$inflo-logo-header-2x-offset-y: -154px;
$inflo-logo-header-2x-width: 368px;
$inflo-logo-header-2x-height: 150px;
$inflo-logo-header-2x-total-width: 370px;
$inflo-logo-header-2x-total-height: 304px;
$inflo-logo-header-2x-image: '../img/ui/sprites/spritesheet-2x.png';
$inflo-logo-header-2x: (0px, 154px, 0px, -154px, 368px, 150px, 370px, 304px, '../img/ui/sprites/spritesheet-2x.png', 'inflo-logo-header-2x', );
$spritesheet-width: 185px;
$spritesheet-height: 152px;
$spritesheet-image: '../img/ui/sprites/spritesheet.png';
$spritesheet-sprites: ($inflo-logo-footer, $inflo-logo-header, );
$spritesheet: (185px, 152px, '../img/ui/sprites/spritesheet.png', $spritesheet-sprites, );
$retina-spritesheet-width: 370px;
$retina-spritesheet-height: 304px;
$retina-spritesheet-image: '../img/ui/sprites/spritesheet-2x.png';
$retina-spritesheet-sprites: ($inflo-logo-footer-2x, $inflo-logo-header-2x, );
$retina-spritesheet: (370px, 304px, '../img/ui/sprites/spritesheet-2x.png', $retina-spritesheet-sprites, );

// These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.
//
// The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
$inflo-logo-footer-group-name: 'inflo-logo-footer';
$inflo-logo-footer-group: ('inflo-logo-footer', $inflo-logo-footer, $inflo-logo-footer-2x, );
$inflo-logo-header-group-name: 'inflo-logo-header';
$inflo-logo-header-group: ('inflo-logo-header', $inflo-logo-header, $inflo-logo-header-2x, );
$retina-groups: ($inflo-logo-footer-group, $inflo-logo-header-group, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `retina-sprite` mixin sets up rules and a media query for a sprite/retina sprite.
//   It should be used with a "retina group" variable.
//
// The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/
//
// $icon-home-group: ('icon-home', $icon-home, $icon-home-2x, );
//
// .icon-home {
//   @include retina-sprite($icon-home-group);
// }
@mixin sprite-background-size($sprite) {
  $sprite-total-width: nth($sprite, 7);
  $sprite-total-height: nth($sprite, 8);
  background-size: $sprite-total-width $sprite-total-height;
}

@mixin retina-sprite($retina-group) {
  $normal-sprite: nth($retina-group, 2);
  $retina-sprite: nth($retina-group, 3);
  @include sprite($normal-sprite);

  @media (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi) {
    @include sprite-image($retina-sprite);
    @include sprite-background-size($normal-sprite);
  }
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}

// The `retina-sprites` mixin generates a CSS rule and media query for retina groups
//   This yields the same output as CSS retina template but can be overridden in SCSS
//
// @include retina-sprites($retina-groups);
@mixin retina-sprites($retina-groups) {
  @each $retina-group in $retina-groups {
    $sprite-name: nth($retina-group, 1);
    .#{$sprite-name} {
      @include retina-sprite($retina-group);
    }
  }
}
