//define Theme colours

$blue: #0F0FFF;
$green: #39b54a;
$orange: #fbb038;
$white: #fff;
$off-white: #EDEEF1;
$grey: #858a94;
$dark-grey: #2e3035;
$black: #000;


/* START - Fix issue with anchor colours */
.default-section {
    a:not(.btn) {
        color: $blue !important;
        text-decoration: underline !important;

        &:hover {
            color: $orange !important;
            text-decoration: underline !important;
        }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        a:not(.btn) {
            color: $black !important;

            &:hover {
                text-decoration: none !important;
            }
        }
    }

    .post-slider {
        .title-holder {
            a:not(.btn) {
                color: $black !important;

                &:hover {
                    text-decoration: none !important;
                }
            }
        }


        .topic-list {
            a:not(.btn) {
                color: $grey !important;

                &:hover {
                    text-decoration: none !important;
                }
            }
        }
    }

    .pagination {
        color: $dark-grey !important;

        a:not(.btn) {
            color: $dark-grey !important;

            &:hover {
                text-decoration: none !important;
            }
        }
    }
}

.elementor {
    .elementor-text-editor {
        a:not(.btn) {
            color: $blue !important;
            text-decoration: underline !important;

            &:hover {
                color: $orange !important;
                text-decoration: underline !important;
            }
        }
    }
}

.section-collapse {
    a:not(.btn) {
        color: $blue !important;
        text-decoration: underline !important;

        &:hover {
            color: $orange !important;
            text-decoration: underline !important;
        }
    }
}

.faq-section {
    .accordion-item-slide-content {
        a:not(.btn) {
            color: $blue !important;
            text-decoration: underline !important;

            &:hover {
                color: $orange !important;
                text-decoration: underline !important;
            }
        }
    }
}

.simple-about-descr {
    a:not(.btn) {
        color: $blue !important;
        

        &:hover {
            color: $orange !important;
            text-decoration: underline !important;
        }
    }
}

/* END - Fix issue with anchor colours */