main {
    .elementor-section-full_width {
        .elementor-column-wrap {
            padding: 0 !important;
        }

        .elementor-image {
            @extend %full-width;
            height: 450px;
            position: relative;
            // clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);

            img {
                position: absolute;
                top: 0;
                left: 0;
                object-fit: cover;
                object-position: center;
                width: 100%;
                height: 100%;
                z-index: 1;
            }

            // &::before {
            //     content: '';
            //     position: absolute;
            //     top: 0;
            //     left: 0;
            //     width: 100%;
            //     height: 100%;
            //     background-color: rgb(34, 34, 34);
            //     opacity: 0.4;
            //     z-index: 2;
            // }
        }

        .slant--false {
            .elementor-image {
                clip-path: none;
            }
        }
    }
}