/*
 THEME NAME: Inflo Plus
 AUTHOR: Digilite Web Solutions
 VERSION: 3.0
 */

/*FONTS*/

/*DEFAULT CSS*/
* {
  outline: none !important;
  text-decoration: none !important;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  color: #2E3035;
  font-family: 'Lato', sans-serif;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  text-transform: uppercase;
  font-family: 'Baloo 2', cursive;
  font-weight: 700;
  line-height: 1.2em;
}

.relative-parent {
  position: relative;
}

a,
a:hover,
a:focus,
header ul li.current-menu-item a {
  color: #EC6325;
}

.skin-green a,
.skin-green a:hover,
.skin-green a:focus {
  color: #39B54A;
}

.skin-gradient a,
.skin-gradient a:hover,
.skin-gradient a:focus {
  background: linear-gradient(81.29deg, #ED2127 -18.47%, #EC6325 26.26%, #FBB038 66.75%, #39B54A 117.72%) !important;
}

.skin-yellow a,
.skin-yellow a:hover,
.skin-yellow a:focus {
  color: #FBB038;
}

.transition {
  transition: .4s;
}

.absolute {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 20;
}

.page-404 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.alignnone {
  margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
  display: block;
  margin: 0 auto;
}

.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

a img.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

a img.alignnone {
  margin: 5px 20px 20px 0;
}

a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

a img.aligncenter {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wp-caption {
  max-width: 100%;
  text-align: center;
}

.wp-caption.alignnone {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
  margin: 5px 0 20px 20px;
}

.wp-caption img {
  border: 0 none;
  height: auto;
  margin: 0;
  max-width: 98.5%;
  padding: 0;
  width: auto;
}

.wp-caption p.wp-caption-text {
  font-size: 13px;
  line-height: 20px;
  margin: 0;
  padding: 6px 0px 5px;
  text-align: left;
}

.row {
  margin-left: -12px;
  margin-right: -12px;
}

.container,
[class*="col-"] {
  padding-left: 12px;
  padding-right: 12px;
}

.nav li {
  position: relative;
}

.nav li a {
  display: inline-block;
}

.grad-heading {
  background: linear-gradient(81.29deg, #ED2127 -18.47%, #EC6325 26.26%, #FBB038 66.75%, #39B54A 117.72%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

span.orange-part {
  color: #FBB038;
}

/*MAIN CSS*/
header {
  top: 0;
  padding: 24px 0 16px;
  color: #2E3035;
  box-shadow: inset 0.2px 0.2px 2px rgba(0, 0, 0, 0.2);
  position: sticky;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 0.7s;
}

header.scrolled {
  background-color: rgba(255, 255, 255, 1);
}

header.dark-header {
  background-color: #2E3035;
}

header.dark-header .nav>li>a {
  color: white;
}

header.dark-header .nav>li>a:hover,
header.dark-header .nav>li>a:focus {
  color: #EC6325;
}

header .button {
  margin-left: auto;
}

.cover {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

header nav ul li a {
  color: #2E3035;
  transition: color 0.4s;
  line-height: 1.4em;
}

header ul.secondary-menu {
  margin-bottom: 10px;
}

header ul.secondary-menu li {
  padding: 0;
}

header ul.secondary-menu li:not(:last-child) {
  margin-right: 32px;
}

header #logo img {
  width: 120px;
  height: 60px;
  margin-right: 78px;
  padding-bottom: 8px;
}

header ul.main-menu {
  margin-top: auto;
}

header ul.main-menu li a {
  font-weight: 900;
  margin-right: 32px;
  padding: 8px
}

header .language-menu {
  display: flex;
  justify-content: end;
  margin-bottom: 30px;
}

header .language-menu li:not(.wpml-ls-item) {
  font-weight: bold;
}

header .language-menu>li:not(:last-child) {
  margin-right: 32px;
}

/* header .language-menu li.wpml-ls-item a {
  display: flex;
}

header .language-menu li.wpml-ls-item .wpml-ls-flag {
  margin-top: 2px;
  margin-right: 16px;
  border-radius: 100%;
  width: 24px;
  height: 24px;
  object-fit: cover;
} */

header .language-menu li.wpml-ls-menu-item .wpml-ls-flag+span {
  margin-left: 0;
}

header .language-menu li.wpml-ls-item .sub-menu {
  display: none;
  list-style-type: none;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
  border-radius: 12px;
}

header .language-menu li.wpml-ls-item:hover .sub-menu {
  position: absolute;
  min-width: 235px;
  top: 20px;
  right: 0;
  padding: 24px;
  background-color: white;
  display: block;
}

header .language-menu li.wpml-ls-item:hover .sub-menu li:not(:last-child) {
  margin-bottom: 10px;
}

.button-container .button:not(:last-child) {
  margin-right: 24px;
}

.button {
  border-radius: 8px;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 700;
  min-width: 180px;
  text-align: center;
  line-height: 28px;
  border: 1px solid transparent;
  text-transform: uppercase;
  transition: .4s;
  color: white !important;
  background-color: #EC6325;
  display: inline-block;
}

.button.button-dashed {
  border-radius: 8px;
  background-color: transparent;
  color: #EC6325 !important;
  border: 1px dashed #EC6325;
}

.button.button-icon {
  color: #EC6325 !important;
  padding: 12px;
  min-width: unset;
  display: flex;
  align-items: center;
}

.button.button-icon,
.skin-green .button.button-icon,
.skin-yellow .button.button-icon {
  background: transparent;
}

.button.button-icon svg {
  transition: inherit;
  display: inline-block;
  margin-left: 8px;
}

.button.button-icon:hover svg {
  margin-left: 16px;
}

.skin-green .button,
.skin-green .accordion:hover,
.skin-green .active.accordion {
  background: #39B54A;
}

.skin-green .button.button-icon {
  color: #39B54A !important;
}

.skin-green .button.button-icon svg path {
  stroke: #39B54A;
}

.skin-yellow .button,
.skin-yellow .accordion:hover,
.skin-yellow .active.accordion {
  background: #FBB038;
}

.skin-yellow .button.button-icon {
  color: #FBB038 !important;
}

.skin-yellow .button.button-icon svg path {
  stroke: #FBB038;
}

.skin-gradient .button,
.skin-gradient .accordion:hover,
.skin-gradient .active.accordion,
.skin-gradient .button.button-icon {
  background: linear-gradient(81.29deg, #ED2127 -18.47%, #EC6325 26.26%, #FBB038 66.75%, #39B54A 117.72%);
}

.skin-gradient .button {
  border: 1px solid white;
}


.skin-gradient .button.button-icon {
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
}

.skin-gradient .button.button-icon::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
}

.skin-gradient .button.button-icon,
.skin-gradient .button.button-icon svg path {
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.button.button-small {
  font-size: 12px;
  padding: 5px 30px;
  line-height: 26px
}

.button.disabled {
  cursor: disabled
}

.button.button-default {
  background: #fff;
  border-color: #e5e5e5
}

.button.button-default:focus,
.button.button-default:hover {
  border-color: #cdcdcd
}

.button.button-default.disabled {
  background: silver
}

.button.button-gradient {
  border: none;
  background: linear-gradient(90deg, #6216b0, #bb58bc 60%, #ca7aca);
  color: #fff
}

.button.button-black {
  color: #fff;
  background: #000;
  border-color: #000
}

.button.button-black:focus,
.button.button-black:hover {
  background: #0f0f0f;
  border-color: #0f0f0f
}

.button.button-black.disabled {
  border-color: #f0f0f0;
  background: #f0f0f0;
  color: #000
}

.dark-mode .button-default {
  color: #fff;
  background: #000;
  border-color: #707070
}

.dark-mode .button-default:focus,
.dark-mode .button-default:hover {
  color: #fff;
  border-color: #353535
}

.dark-mode .button-default.disabled {
  color: #505050;
  border-color: #353535
}

.dark-mode .button-black {
  color: #000;
  border-color: #fff;
  background: #fff
}

.dark-mode .button-black:focus,
.dark-mode .button-black:hover {
  color: #555
}

.dark-mode .button-black.disabled {
  border-color: #2c2c2c;
  background: #2c2c2c;
  color: #5a5a5a
}

.dark-mode .icon-btn-container,
.dark-mode .icon-btn-container:focus,
.dark-mode .icon-btn-container:hover {
  color: #fff
}

.btn-primary-disabled {
  color: #b1b1b1;
  background: #dedede;
  pointer-events: none;
  cursor: default
}

.btn-secondary-default:hover {
  color: #888;
  background: transparent;
  border: 1px solid #888
}

.btn-secondary-disabled {
  color: #c1c1c1;
  background: transparent;
  border: 1px solid #c1c1c1
}

.btn-primary-dark-default {
  color: #000;
  background: #fff
}

.btn-primary-dark-default:hover {
  color: gray
}

.btn-primary-dark-disabled {
  color: gray;
  background: #4e4e4e
}

.btn-secondary-dark {
  color: #fff;
  background: #000;
  border: 1px solid #fff
}

.btn-secondary-dark:hover {
  color: #6f6f6f;
  border: 1px solid #6f6f6f
}

.btn-secondary-dark-disabled {
  color: #2b2b2b;
  border: 1px solid #2b2b2b
}

.icon-btn-container {
  cursor: pointer;
  color: #000;
  font-weight: 500;
  margin-top: 40px;
  letter-spacing: 1px;
  font-size: 10px;
  text-transform: uppercase;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center
}

.icon-btn-container:hover {
  color: rgba(0, 0, 0, .7)
}

.icon-btn-container .icon-btn {
  margin-right: 10px
}

.icon-btn {
  width: 40px;
  min-width: 40px;
  height: 40px;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #252525;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 100%
}

main section {
  margin: 100px 0;
}

/* Homepage header block */
.homepage-header {
  margin-top: 45px;
  /* overflow: hidden; */
}

.homepage-header h1 {
  margin-bottom: 24px;
}

.homepage-header p {
  margin-bottom: 32px;
}

.homepage-header .img-container {
  padding-left: 42px;
}

.homepage-header .img-container .product-blocks-container {
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.homepage-header .img-container .product-blocks-container a {
  position: absolute;
  z-index: 19;
}

.homepage-header .img-container .product-blocks-container a:nth-child(1) {
  top: 70px;
  left: -30px;
}

.homepage-header .img-container .product-blocks-container a:nth-child(2) {
  top: 8px;
  right: 0;
}

.homepage-header .img-container .product-blocks-container a:nth-child(3) {
  left: -30px;
  bottom: 50px;
}

.homepage-header .img-container .product-blocks-container a:nth-child(4) {
  right: -10px;
  bottom: 20px;
}

/* Video section */
.video-section p {
  margin-bottom: 0;
  font-weight: 500;
  font-size: 24px;
}

.video-section .video-container {
  padding: 40px;
  min-height: 300px;
  height: 42vw;
  max-height: 540px;
}

.video-section .video-container .video-cta-content {
  padding: 0 12px;
  max-width: 600px;
}

.video-section .video-container .video-cta-content img {
  max-width: 240px;
  margin-bottom: 38px;
}

.video-section .video-container .video-cta-content p {
  margin-bottom: 32px;
  color: white;
}

.video-section .video-cta {
  margin-top: 24px
}


.video-section .modal-dialog {
  max-width: 900px;
}

.video-section .modal-dialog .modal-content {
  background-color: transparent;
}

.video-section .modal-dialog .modal-body {
  padding: 0;
}

.video-section .modal-dialog .featured-video-container {
  z-index: 111;
}


/* Plans Section */
.plans-container .h2 {
  margin-bottom: 24px;
}

.plans-container p {
  margin-bottom: 32px;
}

.plans-container .plans-top {
  margin-bottom: 8px;
}

.plans-container .plans-card-container {
  margin-top: 40px;
}

.plans-container .plans-card-container .plans-card {
  position: relative;
  height: 100%;
  border-radius: 12px;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
}

.plans-container .plans-card-container .plans-card .plan-title {
  padding: 23px 24px 16px;
  text-transform: unset;
  text-align: center;
  color: white;
  background: #2E3035;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.plans-container .plans-card-container .plans-card .plan-title span {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 14px;
  padding: 6px 20px;
  color: #2E3035;
  background: #FBB038;
  transform: translateY(-50%);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.plans-container .plans-card-container .plans-card .plan-content {
  padding: 24px;
}

.plans-container .plans-card-container .plans-card .plan-content .button {
  margin-bottom: 24px;
}

.plans-container .plans-card-container .plans-card .plan-content .plan-details p {
  margin-bottom: 16px;
}

.plans-container .plans-card-container .plans-card .plan-content .plan-details h3 {
  font-family: 'Lato', sans-serif;
  text-transform: unset;
  font-size: 20px;
  margin-bottom: 16px;
}

.plans-container .plans-card-container .plans-card .plan-content .plan-details ul {
  margin: 16px 0;
  padding-left: 0;
  color: #858A94;
  list-style-type: none;
}

.plans-container .plans-card-container .plans-card .plan-content .plan-details ul li {
  padding-left: 20px;
  margin-bottom: 4px;
  position: relative;
}

.plans-container .plans-card-container .plans-card .plan-content .plan-details ul li:before {
  content: " ";
  color: transparent;
  font-size: 1px;
  width: 12px;
  height: 12px;
  margin-right: 10px;
  margin-top: 4px;
  padding: 6px;
  background-color: #39B54A;
  -webkit-mask-image: url(./img/checkmark.svg);
  -webkit-mask-size: cover;
  position: absolute;
  left: 0;
}

.plans-container .plans-card-container .plans-card .plan-content .plan-details ul li strong {
  font-weight: normal;
  color: #39B54A;
}

/* CTA Block */
.cta-block {
  padding: 60px;
  background-image: url('img/bubbles.svg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 1450px;
}
.cta-block .cta-title {
  margin-bottom: 24px;
}

.cta-block .row:not(.two-column-cta) p {
  max-width: 790px;
  margin: 0 auto 24px;
  font-weight: 500;
  font-size: 24px;
}

.cta-block .button {
  margin-top: 8px;
}

.cta-block .right-image {
  padding-right: 50px;
}

.cta-block .two-column-cta p {
  font-size: 18px;
  max-width: 490px;
}

/* Product header */
.homepage-header.bubble-bk {
  background-image: url('img/products-bubbles.svg');
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: 1300px;
  padding-bottom: 120px;
  margin-bottom: 40px;
}

.homepage-header.bubble-bk + section {
  margin-top: 0;
}

.product-header {
  margin: 0;
  padding: 80px 100px;
  min-height: 490px;
}

.product-header .h2 {
  color: white;
}

.product-header .ex-container {
  margin-top: 24px;
  width: 100%;
  padding: 12px 16px;
  border-radius: 12px;
  background: #FFFFFF;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
  transition: border-radius 0.4s;
  transition-delay: 0.4s;
}

.product-header .ex-container.open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;

}

.product-header .expand-wrapper .ex-container .top-part {
  cursor: pointer;
}

.product-header .expand-wrapper .ex-container .top-part img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.product-header .expand-wrapper .ex-container .top-part h2 {
  font-size: 18px;
  line-height: 1.4em;
  margin: 0;
  text-transform: unset;
  font-weight: bold;
  font-family: 'Lato', sans-serif;
}

.product-header .expand-wrapper .ex-container .top-part svg {
  margin-left: auto;
}

.product-header .expand-wrapper .expand-content {
  display: none;
  background-color: white;
  padding: 16px;
}



/* Product Hero */

.product-accordion {
  margin-top: 42px;
}

.accordion {
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
  border-radius: 12px;
  color: #2E3035;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: background-color 0.4s;
  background: #fff;
  position: relative;
}

.accordion svg {
  position: absolute;
  right: 10px;
}

.accordion:nth-child(1n) {
  margin-top: 24px;
}

.accordion:hover {
  background-color: #EC6325;
  background-repeat: no-repeat;
  color: #fff;
}

.accordion .circle-minus {
  display: none;
}

.accordion:hover .circle-plus path {
  stroke: #fff;
}

.accordion .circle-plus path {
  stroke: #EC6325;
}

.skin-green .accordion .circle-plus path {
  stroke: #39B54A;
}

.skin-green .accordion:hover .circle-plus path {
  stroke: #fff;
}

.skin-green .accordion:hover {
  background-color: #39B54A;
}


.active.accordion {
  background-color: #EC6325;
  background-repeat: no-repeat;
  color: #fff;
  box-shadow: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.skin-green .active.accordion {
  background-color: #39B54A;
}

.active.accordion .circle-minus {
  display: inline-block;
}

.active.accordion .circle-plus {
  display: none;
}

.skin-green .active.accordion {
  background-color: #39B54A;
}

.active-panel {
  padding: 12px 18px !important;
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  box-shadow: 0px 100px 80px rgb(0 0 0 / 7%), 0px 41.7776px 33.4221px rgb(0 0 0 / 5%), 0px 22.3363px 17.869px rgb(0 0 0 / 4%), 0px 12.5216px 10.0172px rgb(0 0 0 / 4%), 0px 6.6501px 5.32008px rgb(0 0 0 / 3%), 0px 2.76726px 2.21381px rgb(0 0 0 / 2%);
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  display: flex;
  align-items: center;
}

.panel p {
  margin-bottom: 0;
  color: #858A94;
  font-weight: 400;
  padding: 24px 0;
}


/* Why Choose us */

.why-choose-us {
  margin-top: 80px;
}

.why-choose-us .wcu-title {
  font-weight: 900;
  font-size: 18px;
  margin-bottom: 0;
}

.wcu-bg {
  width: 24%;
  padding: 8px 20px 8px 10px;
}

.wcu-bg:last-child {
  background-image: url(img/b3.png) !important;
  background-size: 96% !important;
}

.wcu-bg:nth-child(odd) {
  background-image: url(img/b1.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.wcu-bg:nth-child(even) {
  background-image: url(img/b2.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.wcu-item {
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
  border-radius: 12px;
  height: 95%;
  display: flex;
  align-items: center;
  padding: 20px 16px;
  justify-content: center;
}




/* Client Story */
span.part-color {
  color: #EC6325;
}

.skin-green span.part-color {
  color: #39B54A;
}

.client-name {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 4px;
}

.story-section-general {
  width: 60%;
  margin: 0 auto;
  padding-bottom: 40px;
}

.story-section-general .description {
  margin-top: 24px;
}

.story .product-accordion {
  margin-top: 0;
}

.story .accordion:first-child {
  margin-top: 0;
}

.story .button-container {
  height: 100%;
}

.client-position {
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 0;
}

.client-meta {
  padding-top: 50px;
  padding-left: 24px;
}

.client-story {
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
  border-radius: 12px;
  padding: 24px;
}

.cl-story-text {
  padding-top: 16px;
}



/* briefing-papers */

.briefing-papers .left-image {
  flex-wrap: wrap-reverse;
}


.grad-button {
  background: linear-gradient(81.29deg, #ED2127 -18.47%, #EC6325 26.26%, #FBB038 66.75%, #39B54A 117.72%);
}

.abs-image {
  position: relative;
  height: 100%;
  min-height: 400px;
}

.abs-image img {
  position: absolute;
  top: 50%;
  left: 170px;
  max-width: 740px;
  transform: translateY(-50%);
  top: 56%;
}

.left-image .abs-image img {
  left: unset;
  right: 170px;
}

.briefing-papers .brif-item {
  margin-top: 100px;
}


.briefing-papers .button {
  margin-top: 32px;
}

/* Logo List */
.logo-item img {
  max-width: 100%;
  height: 80px;
  object-fit: contain;
}

.logo-list-bg {
  background-color: #dad7d7;
  padding: 30px;
}

.logo-list-title {
  padding-bottom: 32px;
}

.absolute-title {
  position: absolute;
  top: -70px;
  width: 100%;
}

.logo-list.absolute-title-block {
  margin-top: 0;
}


/* Product Tabs */

.product-tabs {
  background-color: #2E3035;
  color: #fff;
  padding: 80px 0;
}

.feature-title {
  color: #EC6325;
  font-size: 18px;
  font-weight: 900;
}

.features {
  padding-top: 38px;
}

.features-title {
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 25px;
}

.feature-title svg {
  margin-right: 10px;
}

.feature-title svg path {
  fill: #EC6325;
}

.skin-green .feature-title svg path {
  fill: #39B54A;
}

.skin-green .feature-title {
  color: #39B54A;
}

.feature-description {
  color: #FFFFFF;
}

.tab {
  overflow: hidden;
}

.tab-description {
  font-weight: 500;
  font-size: 24px;
}

.tab button {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  background-color: #0000;
  color: #fff;
  border-bottom: 2px solid #ec63258a;
}

.skin-green .tab button {
  border-bottom: 2px solid #39b54a94;
}

.tab button:hover {
  color: #EC6325;
  border-bottom: 2px solid #EC6325;
}

.tab button.active {
  color: #EC6325;
  border-bottom: 2px solid #EC6325;
}

.skin-green .tab button:hover {
  color: #18AB5D;
  border-bottom: 2px solid #18AB5D;
}

.skin-green .tab button.active {
  color: #18AB5D;
  border-bottom: 2px solid #18AB5D;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  animation: fadeEffect 1s;
  padding-top: 32px;
}

.tabcontent:first-child {
  display: block;
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


/* About Us */
.about-us {
  overflow: hidden;
  padding-bottom: 50px;
  margin-bottom: 50px;
}

.home section.about-us {
  padding-bottom: 200px;
  margin-bottom: 0;
}

.about-us-block .about-description {
  font-size: 18px;
  color: #2E3035;
  line-height: 26px;
}

.stats {
  margin-top: 66px;
}


/* FAQ */
.faq {
  background-image: url('img/bubbles.svg');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 1450px;
}

.faq .accordion {
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.15);
  border-radius: 0;
  margin-top: 0;
  display: flex;
  align-items: center;
}

.faq .accordion:first-child {
  border-radius: 12px 12px 0px 0px;
}

.faq .accordion:last-child {
  border-radius: 0px 0px 12px 12px;
}

.faq .accordion:hover {
  background: #2E3035;
}

.faq .acc-circle {
  width: 24px;
  height: 24px;
  display: inline-block;
  background-color: #c1c1c1;
  border-radius: 15px;
  margin-right: 25px;
}

.faq .panel {
  box-shadow: 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
  border-radius: 0;
  padding: 0px 65px;
}

.faq .active.accordion .acc-circle {
  background: linear-gradient(81.29deg, #ED2127 -18.47%, #EC6325 26.26%, #FBB038 66.75%, #39B54A 117.72%);
}

.faq .active.accordion {
  background: #2E3035;
}

.faq .accordion svg {
  margin-right: 15px;
}

.faq .accordion.active svg {
  transform: rotate(180deg);
}

.faq .accordion.active svg path {
  stroke: #EC6325;
}

.skin-green .faq .accordion.active svg path {
  stroke: #18AB5D;
}


/* Related Products */

.related-item {
  position: relative;
  background-color: white;
  padding: 5px 18px;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-radius: 12px;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
  z-index: 20;
}

.related-products .posts-list {
  margin-top: 48px;
}

.related-products .related-top p {
  font-weight: 500;
  font-size: 24px;
}

.related-item .related-thumb img {
  width: auto;
  height: 22px;
  object-fit: contain;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.related-item .related-title {
  padding-left: 30px;
  margin-bottom: 0;
  color: #2E3035;
  min-height: 38px;
  display: flex;
  align-items: center;
}
}


/* Latest Posts */

.post-items {
  margin-top: 48px;
}

.post-item {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 0.2s;
}

.post-item:hover {
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07), 0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198), 0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275), 0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035), 0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725), 0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
  border-radius: 12px;
}

.lt-post-thumb {
  padding: 16px;
}

.lt-post-thumb img {
  height: 180px;
  width: 100%;
  object-fit: cover;
  border-radius: 12px;
}

.post-info {
  padding: 0 16px;
  display: flex;
  justify-content: space-between;
}

.post-info .author-name {
  font-weight: 700;
}

.post-date {
  font-size: 14px;
  font-weight: 400;
}

.post-title-block {
  padding: 0 16px;
}

.post-title-block .post-title {
  font-weight: 700;
  font-size: 24px;
  font-family: 'Lato', sans-serif;
  text-transform: capitalize;
}

.more-button-block {
  display: flex;
  justify-content: end;
}



/* Search Field */

.cs-search form {
  position: relative;
}

.cs-search button {
  border: none;
  background-color: #0000;
  position: absolute;
  right: 10px;
  border-left: 1px solid #b6b6b68c;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #2E3035;
  opacity: 0.3;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #2E3035;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #2E3035;
}

.cs-search input {
  box-shadow: 0px 100px 80px rgb(0 0 0 / 7%), 0px 41.7776px 33.4221px rgb(0 0 0 / 5%), 0px 22.3363px 17.869px rgb(0 0 0 / 4%), 0px 12.5216px 10.0172px rgb(0 0 0 / 4%), 0px 6.6501px 5.32008px rgb(0 0 0 / 3%), 0px 2.76726px 2.21381px rgb(0 0 0 / 2%);
  border-radius: 12px;
  border: none;
  padding: 16px;
  width: 100%;
  padding-right: 55px;
}


.search-results-content {
  padding: 100px 0;
}


/* Gradient Buttons */

.gradient-buttons {
  background-color: #2E3035;
  padding: 80px 0;
}

.gradient-buttons .gr-description {
  font-size: 18px;
  padding-top: 24px;
  padding-bottom: 50px;
}

.gradient-button {
  background: linear-gradient(81.29deg, #ED2127 -18.47%, #EC6325 26.26%, #FBB038 66.75%, #39B54A 117.72%);
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 9px 0;
}

.gradient-button p {
  margin-bottom: 0;
  font-weight: 700;
  font-size: 32px;
  font-family: 'Baloo 2', cursive;
  color: #fff;
}

.gradient-button p.button-subtitle {
  font-weight: 400;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
}

.text-white {
  color: #fff;
}


footer {
  background-color: #2E3035;
  color: white;
  padding: 74px 0 48px;
}

footer .subscribe-form {
  margin-bottom: 48px;
}

footer .subscribe-form .button {
  min-width: 150px;
}

footer .subscribe-form input[type=email] {
  margin-right: -8px;
  background-color: #24242C;
  color: white;
  font-size: 12px;
  min-height: 38px;
  border-radius: 8px;
  border: none;
  outline: none;
}

footer .subscribe-form input[type=email]:focus {
  box-shadow: none;
}

footer .social-pages {
  margin-bottom: 27px;
}

footer .social-pages a {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  mix-blend-mode: normal;
  border-radius: 5px;
  color: white;
  background-color: rgba(84, 88, 105, .8);
  transition: 0.3s;
}

footer .social-pages a:hover {
  background-color: rgba(84, 88, 105, 1);
}

footer .social-pages a:not(:last-child) {
  margin-right: 10px;
}

footer .privacy-menu {
  margin-bottom: 10px;
}

footer .privacy-menu li a,
footer .copyright {
  font-size: 12px;
  line-height: 18px;
  color: #545869;
}

footer .copyright {
  font-weight: bold;
}

footer .privacy-menu li a:hover,
footer .privacy-menu li a:focus {
  color: #545869;
}

footer .privacy-menu li:not(:last-child) {
  margin-right: 20px;
}

footer .second-column .nav>li>a {
  color: white;
  font-weight: bold;
  margin-bottom: 16px;
  display: inline-block;
}

footer .second-column .product-menu.nav {
  padding-left: 30px;
}

footer .second-column .product-menu.nav>li ul>li>a {
  margin-bottom: 8px;
  display: inline-block;
}

footer .second-column .nav ul {
  padding: 0;
  list-style-type: none;
}

footer .nav ul li a,
footer .nav ul li a:hover footer .nav ul li a:focus {
  color: #545869;
}


/* Large desktops and laptops */
@media (min-width: 1230px) {
  .container {
    max-width: 1200px;
  }

  .h1 {
    font-size: 56px;
    line-height: 62px;
  }

  .h2 {
    font-size: 48px;
  }

  .h3 {
    font-size: 32px;
  }

  .h4 {
    font-size: 24px;
  }

  .h5 {
    font-size: 20px;
  }

  .h6 {
    font-size: 16px;
  }
}

@media (max-width: 1229px) {}

/* Portrait tablets and medium desktops */
@media (min-width: 768px) and (max-width: 1229px) {
  .h1 {
    font-size: 48px;
  }

  .h2 {
    font-size: 32px;
  }

  .h3 {
    font-size: 24px;
  }

  .h4 {
    font-size: 18px;
  }

  .h5 {
    font-size: 16px;
  }

  .h6 {
    font-size: 16px;
  }
}

/* @media (min-width: 992px) {}

@media (max-width: 991px) {} */

/* Portrait tablets and small desktops */
/* @media (min-width: 768px) and (max-width: 991px) {} */

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  .h1 {
    font-size: 24px;
  }

  .h2 {
    font-size: 20px;
  }

  .h3 {
    font-size: 18px;
  }

  .h4 {
    font-size: 16px;
  }

  .h5 {
    font-size: 14px;
  }

  .h6 {
    font-size: 14px;
  }

}

/* Landscape phones and smaller */
@media (max-width: 544px) {}

@media (max-width: 480px) {}
