.page-accordion {
  margin: 2rem 0;
}

.accordion-holder {
  margin-bottom: 0.75rem;
}

.accordion {
  background-color: $green-500;
  color: $white;
  border-radius: $border-radius;
  cursor: pointer;
  padding: 1em;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  font-weight: 500;
  display: block;
  //Stop text wrapping over icon
  position: relative;

  &:hover {
    background-color: $green-700;
  }

  &__title {
    margin: 0 1.5rem 0 0!important;
    float: left;
  }

  &:after {
    content: '+';
    /* Unicode character for "plus" sign (+) */
    font-size: 2rem;
    line-height: 0.75em;
    font-weight: 900;
    color: $white;
    margin-left: 5px;
    //Stop text wrapping over icon
    position: absolute;
    right: 1rem;
  }

  &--large {
    font-size: 1.2rem;
  }
}

.panel {
  background-color: $green-100;
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;

  &__content {
    padding: 1rem;

    p {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__img-holder {
    &--right {
      order: 0;
    }

    img {
      display: block;
      margin: 0 auto 1.5em;
    }
  }

  &__text-holder {
    &--right {
      order: 1;
    }
  }

  .row {
    margin-bottom: 2rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.accordion.active {
  background-color: $green-700;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;

  &:after {
    content: "-";
    /* Unicode character for "minus" sign (-) */
  }
}
@include media-breakpoint-up(sm) {
  .panel {
    &__content {
      &--large {
        padding: 2rem 1.5rem;
      }
    }
  }
}
@include media-breakpoint-up(md) {
  .panel {
    &__img-holder {
      &--right {
        order: 1;
      }
    }

    &__text-holder {
      &--right {
        order: 0;
      }
    }
  }
}
