body {
  //  color: $text-color;
}

.small-txt {
  font-size: 0.75rem;
}

/*********************
LINK STYLES
*********************/
a,
a:visited {
  color: $link-color;
  font-weight:700;
  text-decoration: $link-decoration;
  transition: color 0.14s ease-in-out;

  @include hover-focus {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
  }
}

/*********************
TEXT HIGHLIGHT
*********************/
::-moz-selection {
  color: $body-color;
  background: $green-300;
}

::selection {
  color: $body-color;
  background: $green-300;
}

/*********************
CONTENT WRAPPER
*********************/
.wrap {
  @include make-container-max-widths();
  margin: auto;
  padding: 0 15px;
}

/*********************
RESPONSIVE VIDEOS
*********************/
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  overflow: hidden;
  max-width: 100%;
  height: auto;
  margin-bottom: 1.5rem;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
