// stylelint-disable selector-no-qualifying-type

//
// Base styles
//

.btn {
  border: none;
  cursor: pointer;
  display: inline-block;
  font-size: 0.875rem;
  font-weight: 900;
  margin-top: 1rem;
  padding: 0.75em 1.5em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: color 0.14s ease-in-out;
  transition: background-color 0.14s ease-in-out;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;

  // Share hover and focus styles
  @include hover-focus {
    text-decoration: none;
  }

  &:focus,
  &.focus {
    outline: 0;
  }
}

//
// Custom button colours
//

.btn--green-500,
.btn--green-500:visited {
  color: $white;
  background-color: $green-500;

  @include hover-focus {
    color: $white;
    background-color: darken($green-500, 10%);
  }
}

.btn--orange-500,
.btn--orange-500:visited {
  color: $white;
  background-color: $orange-500;

  @include hover-focus {
    color: $white;
    background-color: darken($orange-500, 10%);
  }
}

.btn--white,
.btn--white:visited {
  color: $body-color;
  background-color: $white;

  @include hover-focus {
    color: $body-color;
    background-color: darken($white, 15%);
  }
}

.btn--white-outline,
.btn--white-outline:visited {
  color: $white;
  background-color: none;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 0.25rem;
    border: 2px solid $white;
  }

  @include hover-focus {
    color: $body-color;
    background-color: $white;
  }
}

//
// Button Sizes
//
.btn-lg {
}

.btn-sm {
  @extend .btn;
  font-size: 0.75rem;
}
