.contact-page {
  &__section {
    margin-bottom: 3rem;

    address {
      margin-bottom: 0;
    }
  }

  &__heading {
    font-family: $font-family-sans-serif-rounded;
    font-weight: 900;
  }

  &__form {
    padding-top: 1rem;

    &--desktop {
      display: none;
    }
  }
}

@include media-breakpoint-up(lg) {
  .contact-page {
    &__section {
      margin-bottom: 3rem;
    }

    &__form {
      padding-top: 2.75rem;

      &--desktop {
        display: block;
      }

      &--mobile {
        display: none;
      }
    }
  }
}
