.content-band {
  padding-top: 4rem;
  padding-bottom: 4rem;
  border-bottom: 1px solid $green-500;

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    border-bottom: none;
  }

  //Text Image
  &--txt-img {
    .content-band__text-holder {
      order: 2;
    }

    .content-band__img-holder {
      order: 1;
    }
  }

  &__text-holder {
    p {
      margin-bottom: 0;
    }
  }

  &__img-holder {
    padding-bottom: 2rem;

    img {
      display: block;
      box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
      margin: auto;
      height: auto;
      max-width: 100%;
    }

    img[src$='.svg'] {
      box-shadow: none;
      height: auto;
      width: 100%;
      max-width: 180px;
      margin: 0;
    }
  }

  &__title {
    font-family: $font-family-sans-serif-rounded;
    font-size: 1.5rem;
    font-weight: 900;
    margin-bottom: 1em;
  }
}

@include media-breakpoint-up(md) {
  .content-band {
    align-items: center;

    //Text Image
    &--txt-img {
      .content-band__text-holder {
        order: 1;
      }

      .content-band__img-holder {
        order: 2;
        padding: 0 0 0 4rem;
      }
    }

    //Image Text
    &--img-txt {
      .content-band__text-holder {

      }

      .content-band__img-holder {
        padding: 0 4rem 0 0;
      }
    }

    &__img-holder {
      img[src$='.svg'] {
        margin: auto;
        max-width: 200px;
      }

      &--left {
        padding: 0 2rem 3rem 2rem;
      }

      &--right {
        padding: 2rem 2rem 0;
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  .content-band {
    &__img-holder {
      img[src$='.svg'] {
        max-width: 250px;
      }
    }
  }
}

@include media-breakpoint-up(xl) {
  .content-band {
    &__img-holder {
      img[src$='.svg'] {
        max-width: 280px;
      }
    }
  }
}
