//TEMPORARY REMOVE ME
.post-type-archive {
  .post-navigation {
    margin-bottom: 0;
  }
}

.conversation-post-full-width {
  overflow: hidden;
  text-decoration: none;
  display: block;
  margin-bottom: 2rem;

  &:hover {
    color: $black;
    text-decoration: none;
  }

  &__img {
    border-radius: 10px;
    margin-bottom: 1.25rem;
    position: relative;
    display: block;
    z-index: 1;

    &:before {
      content: '';
      background-image: url(../img/play-icon.png);
      background-size: 100%;
      background-repeat: no-repeat;
      display: block;
      height: 69px;
      width: 60px;
      top: 50%;
      left: 50%;
      margin-top: -34px;
      margin-left: -30px;
      position: absolute;
      z-index: 10;
    }

    img {
      border-radius: 10px;
      height: auto;
      width: 100%;
    }
  }

  &__content {
    p {
      &:hover {
        color: $black;
      }
    }
  }

  &__title {
    color: $green-500;
    font-size: 1.5rem;
    font-weight: 900;
  }

  .btn {
    margin-bottom: 0;
  }
}

.conversation-post--live {
  .conversation-post__img {
    &:before {
      content: '';
      background-image: url(../img/play-icon.png);
      background-size: 100%;
      background-repeat: no-repeat;
      display: block;
      height: 58px;
      width: 50px;
      top: 50%;
      left: 50%;
      margin-top: -29px;
      margin-left: -25px;
      position: absolute;
      z-index: 10;
    }
  }
}

.conversation-post--coming-soon {
  img {
    opacity: 0.3;
  }
}

.conversation-post {
  overflow: hidden;
  text-decoration: none;
  display: block;
  margin-bottom: 2rem;

  &--coming-soon {
    article {
      background-color: $gray-600!important;
    }
  }

  article {
    background-color: $green-500;
    border-radius: 10px;
    height: 100%;
  }

  &:hover {
    text-decoration: none;
  }

  &__img {
    border-radius: 10px 10px 0 0;
    position: relative;
    display: block;
    z-index: 1;

    &--full-width {
      border-radius: 10px;
    }

    img {
      border-radius: 10px 10px 0 0;
      height: auto;
      width: 100%;
    }
  }

  &__text {
    color: $white;
    padding: 1rem;
  }

  &__title {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 0.1em;
  }
}

@include media-breakpoint-up(md) {
  .conversation-post-full-width {
    margin-bottom: 4rem;

    &__img {
      margin-bottom: 0;
      overflow: hidden;

      img {
        transition: opacity 0.14s ease-in-out;
        transition: transform 0.14s ease-in-out;
      }
    }
  }

  .conversation-post-full-width:hover > article .conversation-post-full-width__img img {
    transform: scale(1.05,1.05);
    opacity: 0.7;
  }

  .conversation-post-full-width:hover > article .conversation-post-full-width__img {
    background-color: $black;
  }

  .conversation-post-full-width:hover > article .btn {
    background-color: $link-hover-color;
  }

  .conversation-post-full-width:hover > article .conversation-post-full-width__title  {
    color: $link-hover-color;
  }

  .conversation-post-full-width:hover > article  {
    color: $black;
  }

  .conversation-post {
    article {
      transition: color 0.14s ease-in-out;
    }

    &__img {
      overflow: hidden;

      img {
        transition: opacity 0.14s ease-in-out;
        transition: transform 0.14s ease-in-out;
      }
    }
  }

  .conversation-post--live:hover > article {
    background-color: $green-700;
  }

  .conversation-post--live:hover > article .conversation-post__img img {
    transform: scale(1.05,1.05);
    opacity: 0.7;
  }

  .conversation-post--live:hover > article .conversation-post__img {
    background-color: $black;
  }
}

@include media-breakpoint-up(xl) {
  .conversation-post-full-width {
    &__title {
      font-size: 1.75rem;
    }
  }
}

@include media-breakpoint-up(xl) {
  .conversation-post-full-width {
    &__title {
      margin-top: 1rem;
    }
  }
}
