.demo-content {
  margin-bottom: 3rem;
}

.demo-contact-form {
  background-color: rgba(235,235,235,0.8);
  border-radius: 10px;
  padding: 1.5rem 1rem;

  &--large-margin {
    margin: 5rem auto 8rem;
  }

  &--large-margin-small-top {
    margin: 3rem auto 8rem;
  }

  &__title {
    font-family: $font-family-sans-serif-rounded;
    font-size: 1.5rem;
    font-weight: 900;
  }

  .wpcf7-form {
    &:last-child {
      p {
        margin-bottom: 0;
      }
    }
  }

  .wpcf7-submit {
    margin-top: 1.875rem;
    width: 100%;
  }
}

.t-section--demo-signup {
  background-image: url('../img/inflo-half-demo-background.jpg');
  background-position: left bottom;
  background-size: 200%;
  background-repeat: no-repeat;
}

.t-section__team {
  padding: 4rem 0 2rem;
}

@include media-breakpoint-up(md) {
  .demo-content {
    margin-bottom: 0;
  }

  .t-section--demo-signup {
    background-position: -300px center;
    background-size: cover;
  }
}

@include media-breakpoint-up(lg) {
  .demo-contact-form {
    padding: 2.5rem 2rem;
  }

  .t-section--demo-signup {
    background-position: left center;
  }
}
