@include media-breakpoint-up(md) {
  .mean-pusher {
    display: none;
  }

  .header nav {
    width: 100%;
    border-bottom: 1px solid $white;
  }

  //Hide home navigation element
  #menu-item-19 {
    display: none;
  }

  .header__nav {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2px;
    padding-top: 2rem;

    li {
      position: relative;
      padding: 0;

      a {
        padding-top: 0.5rem;
        color: $white;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 0.8rem;
        font-weight: 900;
        display: block;
        margin-bottom: 0.75rem;
        transition: color 0.3s;
        text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);

        &::after {
          position: absolute;
          top: 100%;
          left: 0;
          width: 100%;
          height: 5px;
          background: $orange-500;
          content: '';
          opacity: 0;
          transition: opacity 0.3s, transform 0.3s;
          transform: translateY(10px);
        }

        &:focus,
        &:hover {
          color: $orange-500;

          &::after {
            opacity: 1;
            transform: translateY(0px);
          }
        }
      }

      &:first-child {
        a {
          margin-left: 0;
        }
      }

      &:last-child {
        a {
          margin-right: 0;
        }
      }

      ul.children,
      ul.sub-menu {
        border-top: 0;
        position: absolute;
        text-align: left;
        visibility: hidden;
        z-index: 8999;
        list-style: none;
        padding: 0.5rem 0 0 0;
        width: 100%;
        opacity: 0;
        transition: opacity 0.3s, transform 0.3s;
        transform: translateY(10px);

        li {
          padding: 0;
          position: relative;
          margin: 0;
          width: 200px;

          a {
            display: block;
            color: $body-color;
            text-shadow: none;
            //border-bottom: 1px solid $gray-500;
            background-color: $green-200;
            transition: background-color 0.14s ease-in-out;
            padding: 0.75em 0.8em;
            font-weight: 700;
            margin: 0;

            &:after {
              display: none;
            }

            &:focus,
            &:hover {
              //color: $link-hover-color;
              background-color: $green-500;
            }

            &:link {}
          }

          &:first-child {}

          &:last-child {
            a {
            }
          }
          /*
					if you need to go deeper, go nuts
					just remember deeper menus suck
					for usability. k, bai.
					*/
          ul {
            top: -8px;
            left: 100%;
            margin-left: 0;

            li {
              a {
                background-color: $green-100;
              }
            }
          }
        }
        /* highlight sub-menu current page */
        li.current-menu-item,
        li.current_page_ancestor,
        li.current_page_item {
          a {}
        }
      }
      /* showing sub-menus */
      &:hover > ul {
        top: auto;
        visibility: visible;
        opacity: 1;
        transform: translateY(0px);
      }
    }
    /* end .menu ul li */
    /* highlight current page */
    li.current-menu-item,
    li.current_page_ancestor,
    li.current_page_item {
      a {
        &::after {
          position: absolute;
          top: 100%;
          left: 0;
          width: 100%;
          height: 5px;
          background: $orange-500;
          content: '';
          opacity: 1;
          transform: translateY(0);
        }
      }
    }
    /* end current highlighters */
  }
  /* end .nav */
}
@include media-breakpoint-up(lg) {
  .header nav {

  }

  .header__nav {
    float: right;
    width: 715px;
    padding-top: 0;
    //margin: 1.6rem 0 0;

    li {
      a {
        font-size: 0.85rem;
        padding: 0.5rem 0 0;
      }

      ul.children,
      ul.sub-menu {
      //  padding-top: 2.75rem;
      }
    }
  }
}
@include media-breakpoint-up(xl) {
  .header__nav {
    width: 850px;

    li {
      a {
        font-size: 0.875rem;
      }
    }
  }
}
