.feature {
  padding-top: 4rem;
  padding-bottom: 4rem;
  border-bottom: 1px solid $green-500;

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    border-bottom: none;
  }

  &--txt-img {
    .feautre__text-holder {
      order: 2;
    }

    .feature__img-holder {
      order: 1;
    }
  }

  &__text-holder {
    p {
      margin-bottom: 0;
    }
  }

  &__img-holder {
    padding-bottom: 3rem;

    img {
      display: block;
      box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
      margin: auto;
      height: auto;
      max-width: 100%;
    }

    img[src$='.svg'] {
      box-shadow: none;
      width: 100%;
      height: auto;
      max-width: 180px;
      margin: 0;
    }
  }

  &__title {
    font-family: $font-family-sans-serif-rounded;
    font-size: 1.5rem;
    font-weight: 900;
    margin-bottom: 1em;
  }
}

// Quote section
.feat-quote {
  background-color: $gray-200;
  padding: 4rem 0;

  img {
    height: auto;
    margin-bottom: 1rem;
    max-width: 260px;
    width: 100%;
  }

  blockquote {
    margin-bottom: 0;

    cite {
      font-weight: 900;
    }
  }
}

// Call to action section
.features-cta {
  display: flex;

  &__green {
    flex-grow: 1;
    display: none;
  }

  &__content {
    align-items: center;
    height: 100%;
  }

  &__text-holder {
    color: $white;
    padding-top: 4rem;
    padding-bottom: 4rem;
    background-color: $green-500;

    &::after {
      position: absolute;
      content: '';
      top: 0;
      background-color: $green-500;
      z-index: 0;
      left: 0;
      width: 100vw;
      bottom: 0;
    }

    &::before {
      position: absolute;
      content: '';
      top: 0;
      background-color: $green-500;
      z-index: 0;
      right: 0;
      width: 100vw;
      bottom: 0;
    }
  }

  &__text {
    position: relative;
    z-index: 1;
  }

  &__title {
    font-family: $font-family-sans-serif-rounded;
    font-size: 2.250rem;
    font-weight: 900;
  }

  &__subtitle {
    font-size: 1.25rem;
    font-weight: 300;
    margin-bottom: 0.5rem;
  }

  &__related-holder {
    background-color: $white;
    display: flex;
    align-items: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  &__related-title {
    font-size: 1.5rem;
    font-weight: 100;
    margin-bottom: 1.5rem;
  }

  &__white {
    display: none;
    background-color: $white;
    flex-grow: 1;
  }

  &__related {
    position: relative;
    z-index: 1;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        margin-bottom: 0.75rem;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

@include media-breakpoint-up(md) {
  .feature {
    align-items: center;

    //Text Image
    &--txt-img {
      .feature__text-holder {
        order: 1;
      }

      .feature__img-holder {
        order: 2;
        padding: 0 0 0 4rem;
      }
    }

    //Image Text
    &--img-txt {
      .feature__text-holder {

      }

      .feature__img-holder {
        padding: 0 4rem 0 0;
      }
    }

    &__img-holder {
      &--left {
        padding: 0 4rem 0 0;
      }

      &--right {
        padding: 0 0 0 4rem;
      }

      img[src$='.svg'] {
        margin: auto;
        max-width: 200px;
      }
    }
  }

  .features-cta {
    background-color: $green-500;

    &__green, &__white {
      display: block;
    }

    &__text-holder {
      padding-top: 5rem;
      padding-bottom: 5rem;

      &::before {
        display: none;
      }

      &::after {
        display: none;
      }
    }

    &__title {
      font-size: 2.25rem;
    }

    &__subtitle {
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }

    &__related-holder {
      height: 100%;
    }
  }
}

@include media-breakpoint-up(lg) {
  .module {
    &__img-holder {
      img[src$='.svg'] {
        max-width: 250px;
      }
    }
  }
}

@include media-breakpoint-up(xl) {
  .module {
    &__img-holder {
      img[src$='.svg'] {
        max-width: 280px;
      }
    }
  }
}
