.footer {
  background-color: $gray-200;
  color: $gray-600;

  a, a:visited {
    color: $gray-600;

    &:hover {
      color: $link-hover-color;
    }
  }

  &__section {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    font-size: 0.875rem;

    &:first-child {
      padding-top: 2rem;
    }

    &:last-child {
      padding-bottom: 2rem;
    }

    p, address {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__logo {
    @include retina-sprite($inflo-logo-footer-group);
    overflow: hidden;
    display: block;
  }

  &__title {
    color: $body-color;
    font-size: 0.875rem;
    font-weight: 900;
    margin-bottom: 1.25rem;
    text-transform: uppercase;
  }

  &__page-links {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin-bottom: 0.6rem;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.copyright {
  border-top: 1px solid $gray-600;
  font-size: 0.75rem;
  margin: 0;
  padding: 0.75rem 0;
}

@include media-breakpoint-up(md) {
  .footer {
    &__section {
      padding-top: 2.5rem;
      padding-bottom: 2.5rem;

      &:last-child {
        padding-bottom: 2.5rem;
      }

      &--logo {
        padding-bottom: 0;
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  .footer {
    &__section {
      padding-top: 2.5rem;
      padding-bottom: 2.5rem;

      &:first-child {
        padding-top: 2.5rem;
      }

      &:last-child {
        padding-bottom: 2.5rem;
      }
    }
  }
}
