.header {
  background-color: $gray-500;
  background-image: url('../img/test-header.jpg');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-top: 1rem;

  &__logo {
    @include retina-sprite($inflo-logo-header-group);
    display: inline-block;
    vertical-align: top;
  }

  &__btns {
    float: right;

    .btn {
      display: block;
      margin: 0 0 0.875rem 0;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__text {
    padding-top: 4rem;
    padding-bottom: 6rem;

    .btn {
      margin-right: 1rem;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  &__title, &__subtitle {
    color: $white;
    font-family: $font-family-sans-serif-rounded;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.9);
  }

  &__title {
    font-size: 2.75rem;
    font-weight: 900;
  }

  &__subtitle {
    font-size: 1.25rem;
    font-weight: 300;
  }

  &__curve {
    position: absolute;
    bottom: -0.5px;
    width: 100%;

    svg {
      vertical-align: bottom;
      width: 100%;
    }
  }
}

@include media-breakpoint-up(sm) {
  .header {
    &__btns {
      .btn {
        display: inline-block;
        margin: 0 1rem 0 0;

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}

@include media-breakpoint-up(md) {
  .header {
    padding-top: 1.5rem;

    &__logo {
      cursor: pointer;
    }

    &__btns {
      .btn {
        margin: 0 1rem 0 0;
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  .header {
    padding-top: 2.5rem 0;

    &__logo {
      margin-top: 0.5rem;
    }

    &__text {
      padding-top: 6rem;
      padding-bottom: 8rem;

      .btn {
        margin-right: 1rem;

        &:last-child {
          margin-right: 0;
        }
      }
    }

    &__title {
      font-size: 3.75rem;
    }

    &__subtitle {
      font-size: 1.5rem;
    }
  }
}
