.hp-section {
  &--center {
    text-align: center;
  }

  &--orange {
    background-color: $orange-500;
    color: $white;
  }

  &--why-inflo {
    padding: 4rem 0 5rem;
  }

  &--inflo-explained {
    padding: 4rem 0 6rem;
    background-image: url('../img/inflo-explained-bg.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  &--quote {
    background-color: $gray-200;
    padding: 5rem 0;

    img {
      border-radius: 50%;
      height: auto;
      margin-bottom: 1rem;
      max-width: 160px;
      width: 100%;
    }
  }

  &--inflo-hi {
    padding: 6rem 0;
  }

  &--inflo-hi {
    background-image: url('../img/inflohi-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  &__title {
    font-family: $font-family-sans-serif-rounded;
    font-size: 2rem;
    font-weight: 900;

    &--orange {
      color: $orange-500;
    }
  }

  &__subtitle, &__cta {
    font-size: 1.25rem;
    font-weight: 300;
  }

  &__quote {
    border-left: 8px solid $orange-500;
    display: block;
    margin: 2rem 0 2rem 1rem;
    padding: 0.5rem 0 0.5rem 1rem;
  }

  &__cta {
    max-width: 80%;
    margin: 0 auto 1em;
  }

  .btn {
    margin-top: 0;
  }

  blockquote {
    // This is causing the issue on _quote
    //margin-bottom: 0;

    cite {
      font-weight: 900;
    }
  }
}

.hp-why-inflo {
  padding-top: 2rem;
  padding-bottom: 1rem;
  text-align: left;

  img {
    display: block;
    margin: 0 auto 3rem;
    max-width: 670px;
    width: 100%;
  }

  &__block {
    margin-bottom: 2rem;
  }

  p {
    margin-bottom: 0;
  }
}

.hp-video {
  margin: 3.5rem auto 3.5rem;
}

.hp-section-curve {
  position: relative;

  svg {
    position: absolute;
  }

  &--bottom {
    svg {
      bottom: -0.25px;
      vertical-align: bottom;
    }
  }

  &--top {
    svg {
      top: -0.5px;
      vertical-align: top;
    }
  }
}

.hp-img-band {
  height: 250px;
  display: block;
  width: 100%;
  background-image: url('../img/home-img-band.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hp-inflo-hi-icon {
  max-width: 300px;
  margin: auto;
  margin-top: 3rem;
}

@include media-breakpoint-up(md) {
  .hp-section {

    &--quote {
      padding: 5rem 0 7rem;
    }

    &--inflo-explained {
      padding: 4rem 0 6rem;
    }

    &--inflo-hi {
      padding: 6rem 0 6rem;
    }

    &__title {
      font-size: 2.250rem;
    }

    &__subtitle, &__cta {
      font-size: 1.3rem;
    }

    &__cta {
      max-width: 80%;
      margin: 0 auto 1em;
    }

    .btn {
      margin-top: 0;
    }
  }

  .hp-why-inflo {
    padding-top: 4rem;
    padding-bottom: 1rem;

    img {
      margin: 0 auto 6rem;
    }

    &__block {
      margin-bottom: 2rem;
    }

    p {
      margin-bottom: 0;
    }
  }

  .hp-img-band {
    height: 450px;
  }

  .hp-inflo-hi-icon {
    margin-top: 0;
    max-width: 320px;
  }
}

@include media-breakpoint-up(lg) {
  .hp-section {
    &--quote {
      padding: 5rem 0 7rem;
    }
  }
}

@include media-breakpoint-up(xl) {
  .hp-section {
    &--why-inflo {
      padding: 4rem 0 7%;
    }
  }
}
