.page-template-page-inflohi {
  .st0 {
    fill: $orange-500;
  }

  .content-band-holder {
    padding-top: 4rem;
  }
}

.inflohi-section {
  &--center {
    text-align: center;
  }

  &--orange {
    background-color: $orange-500;
    color: $white;
  }

  &--inflo-explained {
    padding: 4rem 0 1rem;
    background-image: url('../img/inflo-explained-bg.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  &__title {
    font-family: $font-family-sans-serif-rounded;
    font-size: 2rem;
    font-weight: 900;
  }

  &__subtitle, &__cta {
    font-size: 1.25rem;
    font-weight: 300;
  }

  &__cta {
    max-width: 80%;
    margin: 0 auto 1em;
  }

  .btn {
    margin-top: 0;
  }
}

.inflohi-video {
  margin: 3.5rem auto 3.5rem;
}

@include media-breakpoint-up(md) {
  .inflohi-section {
    &__title {
      font-size: 2.250rem;
    }

    &__subtitle, &__cta {
      font-size: 1.3rem;
    }

    &__cta {
      max-width: 80%;
      margin: 0 auto 1em;
    }

    .btn {
      margin-top: 0;
    }
  }
}
