.territory {
  margin-bottom: 2rem;
  text-align: center;

  a {
    text-decoration: none;
  }

  img {
    max-width: 100%;
    height: auto;
    overflow: hidden;
  }

  p {
    margin: 1rem 0 0;
  }
}

.login {
  &__title {
    text-align: center;
    margin-bottom: 2rem;
  }
}
