.mean-pusher {
  overflow: auto;
  width: 100%;
}

a.meanmenu-reveal {
  display: none;
}
/* when under viewport size, .mean-container is added to body */
.mean-container {
  .mean-bar {
    float: left;
    width: 100%;
    position: relative;
    background: $green-500;
    padding: 4px 0 1px;
    min-height: 45px;
    z-index: 999999;
  }

  .mean-nav {
    float: left;
    width: 100%;
    background: $white;
    margin-top: 45px;

    ul {
      padding: 0;
      margin: 0;
      width: 100%;
      list-style-type: none;

      li {
        position: relative;
        float: left;
        width: 100%;

        a {
          display: block;
          float: left;
          font-weight: 700;
          width: 90%;
          padding: 1.125em 5%;
          margin: 0;
          text-align: left;
          text-decoration: none;
          color: $body-color;
          background-color: $white;
          border-top: 1px solid $gray-300;
        }
      }
    }
  }
}

.mean-container a.meanmenu-reveal {
  width: 22px;
  height: 22px;
  padding: 15px 13px 11px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  color: $white;
  text-decoration: none;
  font-size: 16px;
  text-indent: -9999em;
  line-height: 22px;
  font-size: 1px;
  display: block;
  font-weight: 700;
}

.mean-container a.meanmenu-reveal span {
  display: block;
  background: $white;
  height: 3px;
  margin-top: 3px;
}

.mean-container .mean-nav ul li li a {
  width: 80%;
  padding: 1em 10% !important;
  border-top: 1px solid $white;
  opacity: 0.90;
  filter: alpha(opacity=75);
  text-shadow: none !important;
  visibility: visible;
  background-color: $green-200;
}

.mean-container .mean-nav ul li.mean-last a {
  border-bottom: none;
  margin-bottom: 0;
}

.mean-container .mean-nav ul li li li a {
  width: 70%;
  padding: 1em 15% !important;
  border-top: 1px solid $white;
  background-color: darken($green-100, 10%);
}

.mean-container .mean-nav ul li li a.mean-expand {
  border-left: 1px solid $gray-300 !important;
  height: 27px;
}

.mean-container .mean-nav ul li li li li a {
  width: 60%;
  padding: 1em 20%;
}

.mean-container .mean-nav ul li li li li li a {
  width: 50%;
  padding: 1em 25%;
}

.mean-container .mean-nav ul li a:hover {
  background-color: $green-100;
}

.mean-container .mean-nav ul li a.mean-expand {
  margin-top: 1px;
  width: 26px;
  height: 32px;
  padding: 16px 12px 12px !important;
  text-align: center;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
  font-weight: 700;
  background: rgba(255,255,255,0.1);
  border: none !important;
  border-left: 1px solid $gray-300 !important;
  border-bottom: 1px solid rgba(255,255,255,0.2) !important;
}

.mean-container .mean-nav ul li a.mean-expand:hover {
  background-color: $green-500;
  color: $white;
}

.mean-container .mean-push {
  float: left;
  width: 100%;
  padding: 0;
  margin: 0;
  clear: both;
}

.mean-push {
  display: none;
}

.mean-nav .wrapper {
  width: 100%;
  padding: 0;
  margin: 0;
}
/* Fix for box sizing on Foundation Framework etc. */
.mean-container .mean-bar,
.mean-container .mean-bar * {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.mean-remove {
  display: none !important;
}
