.post-type-archive-modules_type {
  .header__text {
    .btn {
      display: none;
    }
  }
}

.modules-intro {
  padding: 3rem 0 1rem;

  p {
    font-size: 1.25rem;
    font-weight: 900;
    margin-bottom: 0;
  }
}

.module {
  padding-top: 4rem;
  padding-bottom: 4rem;
  border-bottom: 1px solid $green-500;
  text-decoration: none;

  &:hover {
    color: $body-color!important;
    text-decoration: none;
  }

  //Text Image
  &--txt-img {
    .module__text-holder {
      order: 2;
    }

    .module__img-holder {
      order: 1;
    }
  }

  &:last-child {
    border-bottom: none;
  }

  &__text-holder {
    p {
      margin-bottom: 0;
    }
  }

  &__img-holder {
    padding-bottom: 2rem;

    img {
      display: block;
      margin: 0;
      height: auto;
      max-width: 180px;
    }
  }

  &__title {
    font-family: $font-family-sans-serif-rounded;
    font-size: 1.5rem;
    font-weight: 900;
    margin-bottom: 1em;
  }

  .btn {
    margin-bottom: 0;
  }
}

@include media-breakpoint-up(md) {
  .modules-intro {
    padding: 5rem 0 3rem;

    p {
      font-size: 1.5rem;
      font-weight: 900;
      margin-bottom: 0;
    }
  }

  .module {
    align-items: center;

    &__img-holder {
      img {
        margin: auto;
        max-width: 200px;
      }
    }

    //Text Image
    &--txt-img {
      .module__text-holder {
        order: 1;
      }

      .module__img-holder {
        order: 2;
        padding: 0 0 0 4rem;
      }
    }

    //Image Text
    &--img-txt {
      .module__text-holder {

      }

      .module__img-holder {
        padding: 0 4rem 0 0;
      }
    }
  }

  .module:hover > div .btn {
    background-color: $link-hover-color;
  }
}

@include media-breakpoint-up(lg) {
  .module {
    &__img-holder {
      img {
        max-width: 250px;
      }
    }
  }
}

@include media-breakpoint-up(xl) {
  .module {
    &__img-holder {
      img {
        max-width: 280px;
      }
    }
  }
}
