.key-features {
  background-color: $green-100;
  margin: 2rem 0;
  padding: 1.25rem 1.25rem 1.5rem;

  &__title {
    color: $green-500;
    font-family: $font-family-sans-serif-rounded;
    font-weight: 900;
    margin-bottom: 1.5rem;
  }

  ul {
    padding: 0 0 0 1rem;
    margin: 0;

    li {
      margin-bottom: 0.25rem;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

// Quote section
.module-quote {
  background-color: $gray-200;
  border-radius: 10px;
  padding: 2rem 1.25rem 2.25rem;
  margin-bottom: 1rem;

  img {
    height: auto;
    margin-bottom: 1rem;
    max-width: 260px;
    width: 100%;
  }

  blockquote {
    margin-bottom: 0;

    cite {
      font-weight: 900;
    }
  }
}

@include media-breakpoint-up(sm) {
  .key-features {
    padding: 1.75rem 2rem 2rem;

    &__title {
      margin-bottom: 0.75rem;
    }

    ul {
      column-count: 2;
      column-gap: 20px;
      padding: 0;

      li {
        list-style-position: inside;
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  .module-quote {
    padding: 2rem 2rem 2.25rem;
  }
}
