.post-navigation {
  margin: 5rem 0 10rem;
  width: 100%;
}

.pagination {

}

.page-numbers {
  width: 100%;
  text-align: center;

  padding: 0;
  margin: 0;

  li {
    display: inline-block;
    margin: 0 0.2rem;

    a, span {
      border-radius: 5px;
      color: $white;
      display: block;
      line-height: 45px;
      width: 45px;
      height: 45px;
      text-decoration: none;
    }

    a, a:visited {
      background-color: $green-500;
      transition: background-color 0.14s ease-in-out;

      &:hover {
        color: $white;
        background-color: $green-700;
        background-repeat: no-repeat;
      }
    }
  }
}

.current {
  background-color: $green-700;
}
