.single-holder {

}

.single-post {
  &:first-child {
    padding-top: 0;
  }

  &__title {
    color: $green-500;
    font-size: 1.5rem;
    font-weight: 900;
    margin-bottom: 1.5rem;
  }

  &__byline {
    color: $gray-600;
    font-size: 0.875rem;
  }

  &__content {
  }
}


@include media-breakpoint-up(md) {
  .single-post {
    &__title {
      font-size: 2rem;
    }
  }
}
