.archive-holder {

}

.archive__catagories {
  p {
    margin-bottom: 0.5rem;
  }

  ul {
    padding-left: 0;
  }

  li {
    list-style: none;
    display: inline-block;

    &:after {
      content: '/';
      color: $gray-400;
      padding: 0 0.75rem;
    }

    &:last-child {
      &:after {
        content: '';
        padding-right: 0;
      }
    }
  }
}

.current-cat {
  color: $orange-500;

  a {
    color: $orange-500;
  }
}

.archive-post {
  border-bottom: 1px solid $gray-400;
  padding: 2.5rem 0;

  &:first-child {
    padding-top: 0;
  }

  &:last-child {
    border-bottom: none;
  }

  &__title {
    a {
      color: $green-500;
      font-size: 2rem;
      font-weight: 900;
      text-decoration: none;

      &:hover {
        color: $link-hover-color;
      }
    }
  }

  &__byline {
    color: $gray-600;
    font-size: 0.875rem;
  }

  &__content {
    .btn {
      margin-top: 0;
      margin-right: 1rem;
    }
  }
}
