.services-holder {
  .service {
    padding: 2rem 0;
    border-bottom: 1px solid $gray-400;

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      padding-bottom: 0;
      border-bottom: none;
    }
  }
}

.service {
  &__title {
    font-family: $font-family-sans-serif-rounded;
    font-weight: 900;
  }

  &__subtitle {
    margin-bottom: 1rem;
  }
}
