.sidebar {
  margin-top: 3rem;
}

.widget {
  margin-bottom: 1.5rem;
  border-radius: 10px;
  padding: 2rem 1.5rem;

  .widgettitle {
    font-size: 1.5rem;
    font-weight: 900;
  }

  p {
    margin-bottom: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.widget_cta_widget, .widget_cta_widget_inflohi, .widget_quote_widget, .widget_newsletter_widget {
  background-color: $gray-200;
}

.widget_cta_widget_green {
  background: linear-gradient(to bottom, #8fac25 0%,#3aaa35 99%);
  color: $white;
}

.widget_cta_widget_inflohi {
  margin-top: 4rem;
  padding-top: 3.75rem;
  position: relative;

  svg {
    position: absolute;
    right: 0;
    top: -2.5rem;
    width: 100px;
  }
}

.widget_newsletter_widget {
  margin-top: 4rem;
  padding-top: 3.75rem;
  position: relative;

  svg {
    position: absolute;
    right: 0;
    top: -2.5rem;
    width: 100px;
  }
}

.widget_quote_widget {
  img {
    margin-bottom: 1.5rem;
    border-radius: 50%;
    height: auto;
    max-width: 100px;
    width: 100%;
  }

  p {
    margin-bottom: 0.875rem;
  }

  blockquote {
    margin-bottom: 0;
  }

  cite {
    font-weight: 900;
  }
}

@include media-breakpoint-up(md) {
  .sidebar {
    margin-top: 0;
  }

  .widget {
    padding: 1.25rem 0.875rem;

    .widgettitle {
      font-size: 1.25rem;
    }

    p {
      font-size: 0.875rem;
    }
  }

  .widget_cta_widget_inflohi {
    margin-top: 3.5rem;
    padding-top: 3.5rem;

    &:first-child {
      margin-top: 1.875rem;
    }

    svg {
      top: -2rem;
      width: 80px;
    }
  }

  .widget_newsletter_widget {
    margin-top: 3.5rem;
    padding-top: 3rem;

    &:first-child {
      margin-top: 2rem;
    }

    svg {
      top: -2rem;
      width: 75px;
    }
  }

  .widget_quote_widget {
    img {
      margin-bottom: 1rem;
    }
  }
}

@include media-breakpoint-up(lg) {
  .widget {
    padding: 2rem 1rem;
  }

  .widget_cta_widget_inflohi {
    margin-top: 5.5rem;
    padding-top: 3.75rem;

    &:first-child {
      margin-top: 4rem;
    }

    svg {
      top: -4rem;
      width: 125px;
    }
  }

  .widget_newsletter_widget {
    margin-top: 5rem;
    padding-top: 3.5rem;

    &:first-child {
      margin-top: 3rem;
    }

    svg {
      top: -3rem;
      width: 110px;
    }
  }
}

@include media-breakpoint-up(xl) {
  .sidebar {
    margin-top: 0;
  }

  .widget {
    padding: 2rem 1.5rem;

    .widgettitle {
      font-size: 1.5rem;
    }

    p {
      font-size: 1rem;
    }
  }

  .widget_cta_widget_inflohi {
    margin-top: 7rem;
    padding-top: 4rem;

    &:first-child {
      margin-top: 6rem;
    }

    svg {
      top: -5.75rem;
      width: 162px;
    }
  }

  .widget_newsletter_widget {
    margin-top: 6rem;
    padding-top: 3.75rem;

    &:first-child {
      margin-top: 4.5rem;
    }

    svg {
      top: -4.25rem;
      width: 140px;
    }
  }
}
