.social-links {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.social-icon {
  display: block;
  float: left;
  margin-right: 0.75rem;
  width: 40px;
  height: 40px;
  padding: 10px;

  background-color: $orange-500;
  border-radius: 50%;
  transition: background-color 0.14s ease-in-out;

  svg {
    height: 100%;
    width: 100%;

    .icon {
      fill: $white;
    }
  }
}
@include media-breakpoint-up(md) {
  .social-links {
    a {
      padding: 0.5rem 0;
    }
  }

  .social-icon {
    margin-right: 0.5rem;
    width: 40px;
    height: 40px;

    &:hover {
      background-color: $link-hover-color;
    }
  }
  //Allow social media icon to hover
  .icon {
    transition: fill ease-in-out 0.14s;
  }

  .social-links a:hover > .social-icon svg {
    .icon {
      fill: darken($white, 5%);
    }
  }
}
@include media-breakpoint-up(lg) {
  .social-links {
    a {
      padding: 0.75rem 0;
    }
  }

  .social-icon {
    margin-right: 0.25rem;
    width: 40px;
    height: 40px;
  }
  //Contact page specific styles
  .contact__section {
    .social-links {
      a, a:visited {
        color: $black;
      }
    }

    .social-icon {
      width: 40px;
      height: 40px;
      margin-right: 1rem;
    }
  }
}
@include media-breakpoint-up(xl) {
  .social-icon {
    margin-right: 0.75rem;
    width: 40px;
    height: 40px;
  }
}
