.team-member {
  overflow: hidden;
  text-decoration: none;
  display: block;
  border-radius: 10px;
  background-color: $green-500;
  margin-bottom: 2rem;

  &:hover {
    text-decoration: none;
  }

  &__img {
    border-radius: 10px 10px 0 0;

    img {
      height: auto;
      width: 100%;
    }
  }

  &__text {
    color: $white;
    padding: 1rem;
  }

  &__name {
    font-size: 1.5rem;
    font-weight: 900;
    margin-bottom: 0.1em;
  }

  &__role {
    font-weight: 500;
    margin-bottom: 0;
  }
}


@include media-breakpoint-up(sm) {
  .team-members-holder {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .team-member {
    //width: 48%;
    //margin: 0.75rem 4% 0.75rem 0;

    &:nth-child(even) {
      //margin-right: 0;
      //margin-left: 0;
    }

    &__name {
      font-size: 1.25rem
    }
  }
}
@include media-breakpoint-up(md) {
  .team-member {
    transition: color 0.14s ease-in-out;

    &__img {
      overflow: hidden;
      img {
        transition: transform 0.14s ease-in-out;
      }
    }
  }

  .team-member:hover {
    background-color: $green-700;
  }

  .team-member:hover > article .team-member__img img {
    transform: scale(1.05,1.05);
  }
}
