.leadership-team-member {
  &__img {
    img {
      border-radius: 10px;
      height: auto;
      margin-bottom: 2rem;
      width: 100%;
      max-width: 200px;
    }
  }

  &__name {
    color: $green-500;
    font-family: $font-family-sans-serif-rounded;
    font-size: 2rem;
    font-weight: 900;
    margin-bottom: 0;
  }

  &__role {
    color: $gray-800;
    font-weight: 300;
  }

  .cta {
    margin: 1rem 0;

    &__text {
      font-size: 1.25rem;
      font-weight: 300;
      margin-bottom: 0;
    }
  }
}

@include media-breakpoint-up(lg) {
  .leadership-team-member {
    &__img {
      img {
        max-width: 100%;
      }
    }

    &__name {
      font-size: 2.5rem;
    }
  }
}
