.page-template-page-trial-v2, .page-template-page-trial-step-2, .page-template-page-workshop {
  header {
    display: none;
  }
}

.wpcf7-checkbox-section-title {
  clear: both;
  display: block;
  margin: 0.75rem 0;
  font-size: 1.25rem;

  &--last {
    margin-top: 2.5rem;
  }
}

span.wpcf7-list-item {
  margin: 0 2% 1rem 0;
  display: block;

  input {
    margin-right: 0.5rem;
  }
}

@include media-breakpoint-up(md) {
  span.wpcf7-list-item {
    display: inline-block;
    margin: 0 2rem 0.5rem 0;

    &:first-child {
      //margin-top: 1rem;
    }

    input {
      margin-right: 0.5rem;
    }
  }

  .wpcf7-list-item-label {
    //padding-left: 1rem;
  }

  .your-features .wpcf7-form-control {
    display: flex;
    flex-wrap: wrap;

    .wpcf7-list-item {
      width: 48%;
      margin: 0 2% 0.75rem 0;
    }
  }
}

.trial-background {
  background-image: url('../img/graident.png'), url('../img/trial-background.jpg');
}

.trial-background, .workshop-background {
  background-size: 100%, cover;
  background-position: top center, center;
  background-repeat: no-repeat;
}

.workshop-background {
  background-image: url('../img/graident.png'), url('../img/workshop-background.jpg');
}

.t-section-currency-select {
  padding-top: 2rem;
  text-align: center;

  p {
    margin-bottom: 0.5rem;
  }
}

.currency-selector {
  text-align: center;
  display: inline-block;
  margin-right: 1rem;
  max-width: 40px;
  height: auto;

  &:last-child {
    margin-right: 0;
  }
}

#es-usd,
#pro-usd {
  display: none;
}

.t-section {
  padding: 3rem 0;

  &--no-bottom-padding {
    padding-bottom: 0;
  }

  &__subtitle,
  &__title {
    font-family: $font-family-sans-serif-rounded;
    text-align: center;
  }

  &__title {
    font-size: 1.875rem;
    font-weight: 900;

    &--green {
      color: $green-500;
    }

    &--orange {
      color: $orange-500;
    }

    &--left {
      text-align: left;
    }
  }

  &__subtitle {
    font-size: 1.25rem;
    font-weight: 300;

    &--left {
      text-align: left;
    }
  }

  &__content {
    ol {
      li {
        margin-bottom: 1rem;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  &__cta {
    text-align: center;

    .btn {
      margin-top: 0;
    }
  }

  &--cta-band {
    background-color: $green-500;
    color: $white;

    p {
      font-size: 1.875rem;
      font-weight: 300;
      margin: 0;
    }
  }

  &--quote {
    background-color: $gray-100;
    padding: 4rem 0;

    img {
      border-radius: 50%;
      height: auto;
      margin-bottom: 1rem;
      max-width: 160px;
      width: 100%;
    }

    blockquote {
      margin-bottom: 0;

      cite {
        font-weight: 900;
      }
    }
  }

  &--faq {}
}

.t-section-tables {
  padding: 2rem 0 3rem;
}

.t-table {
  margin-bottom: 3rem;
  text-align: center;

  &:last-child {
    margin-bottom: 0;
  }

  &__title-holder {
    color: $white;
    padding: 2rem 1rem;

    &--gray {
      background-color: $gray-800;
    }

    &--green {
      background-color: $green-500;
    }
  }

  &__product-name {
    font-size: 1.5rem;
    font-weight: 900;
    margin: 0;
    text-transform: uppercase;
  }

  &__price {
    font-size: 1.875rem;
    font-weight: 900;
    margin: 0.5em auto;
  }

  &__compatibility {
    font-weight: 300;
    margin-bottom: 0;
  }

  &__body {
    background-color: $gray-100;
    padding: 0 1.5rem 4rem;

    ul {
      list-style: none;
      padding: 0;
      margin: 0 0 2rem;

      li {
        border-bottom: 1px solid $gray-300;
        padding: 1.25rem 0;

        &:last-child {
          border-bottom: none;
        }
      }
    }

    .btn {
      margin-top: 0;
    }
  }
}

.customers {
  &__logo {
    margin: 1rem auto;
    max-width: 180px;

    img {
      margin: 0;
      width: 100%;
      height: auto;
    }
  }
}
@include media-breakpoint-up(md) {
  .t-table {
    margin-bottom: 0;
    display: flex;
    flex-direction: column;

    &__body {
      display: flex;
      //justify-content: space-between;
      flex-direction: column;
      height: 100%;

      .btn {
        align-self: flex-end;
        margin: auto;
        width: 140px;
      }
    }
  }

  .customers {
    &__logo {
      margin: 0.5rem auto;
    }
  }
}
@include media-breakpoint-up(lg) {
  .t-section {
    &__title {
      font-size: 2.25rem;
    }

    &__subtitle {
      font-size: 1.5rem;
    }

    &--cta-band {
      p {
        font-size: 1.875rem;
        float: left;
        margin: 0;
      }

      .btn {
        margin: 0;
        float: right;
      }
    }
  }
}

// VERSION THREE OF THE TRAIL PAGES - PrimitiveSense

  //Vertical Banner Left
  .v__banner{
    min-height:100%;
    padding: 100px 150px;
    background: #43a83c;
    background: -moz-linear-gradient(left,  #43a83c 0%, #d7a026 25%, #f08d24 50%, #e95f21 75%, #e11521 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #43a83c 0%,#d7a026 25%,#f08d24 50%,#e95f21 75%,#e11521 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  #43a83c 0%,#d7a026 25%,#f08d24 50%,#e95f21 75%,#e11521 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#43a83c', endColorstr='#e11521',GradientType=1 ); /* IE6-9 */
    position: relative;
  }

  .v__banner__content{
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100%;
    padding: 0;
    //background: yellow;
    top: 30%;
    text-align: center;
  }

  .vertical__banner__subtitle{
    padding: 10px;
    display: block;
    text-align: center;
    margin: 0 auto;
    text-shadow: none;
  }

  // RIGHT PANEL
  .signup__wrapper{
    padding: 50px 250px;

    h1{
      color: $green-500;
      text-shadow: none;
      margin-bottom: 15px;
    }
  }

  .versionthree__signup__form{
    label{
      margin-bottom: 5px;
      font-size: 1.1em;
      color: #727b83;
    }

    input[type=text]{
      border: 1px solid #CBD6E1;
      background: #F5F8FA;
      margin-bottom: 25px;

      &:focus{
        border: 1px solid #E8692E;
      }
    }

    input[type=email]{
      border: 1px solid #CBD6E1;
      background: #F5F8FA;
      margin-bottom: 25px;

      &:focus{
        border: 1px solid #E8692E;
      }
    }

    select{
      border: 1px solid #CBD6E1;
      background-color: #F5F8FA ;
      background-image: url(../img/down-select.png);
      background-repeat: no-repeat;
      margin-bottom: 25px;
      background-size: 18px 10px;

      &:focus{
        border: 1px solid #E8692E;
      }
    }
  }

  // STYLING OF ERROR OUTPUTS
  .wpcf7-form .wpcf7-response-output.wpcf7-validation-errors {
    color: #D8000C;
    background-color: #FFBABA;
    border: 0;
    padding: 10px;
  }

  .wpcf7-form .wpcf7-response-output.wpcf7-mail-sent-ok {
    color: #4F8A10;
    background-color: #DFF2BF;
    border: 0;
    padding: 10px;
  }

  .wpcf7-mail-sent-ok:before,div.wpcf7-validation-errors:before {
    font: 26px/30px dashicons;
    margin-right: 10px;
    vertical-align: middle;
  }

  .wpcf7-mail-sent-ok:before {
    content: "\f147";
  }

  .wpcf7-validation-errors:before {
    content: "\f158";
  }

  .wpcf7-not-valid-tip{
    color: #D8000C;
    background-color: #FFBABA;
    border: 0;
    padding: 10px;
    display: block;
    margin-bottom: 10px;

    &:before{
      font: 26px/30px dashicons;
      margin-right: 10px;
      vertical-align: middle;
      content: "\f158";
    }
  }

  .wpcf7-acceptance-missing{
    color: #D8000C;
    background-color: #FFBABA;
    border: 0;
    padding: 10px;
    display: block;
    margin-bottom: 10px;

    &:before{
      font: 26px/30px dashicons;
      margin-right: 10px;
      vertical-align: middle;
      content: "\f158";
    }
  }

  #wpcf7-f1531-o1{
    .screen-reader-response{
      display: none;
    }
  }


@media screen and (max-width: 1800px) {
  .v__banner {
    padding: 50px 50px;
  }

  .signup__wrapper{
    padding: 50px 100px;

  }
}

@media screen and (max-width: 1200px) {

  .signup__wrapper{
    padding: 50px;

  }
}

@media screen and (max-width: 1024px) {
  .v__banner{
    height: auto;
    padding: 100px 50px;
    display: block;
    width: 100%;
  }

  .v__banner__content{
    position: relative;
   display: block;
    top: 0;
  }

  .signup__wrapper{
    padding: 50px;
  }
}
