.cta {
  margin: 1rem 0;

  &--center {
    text-align: center;
  }

  &__text {
    font-size: 1.25rem;
    font-weight: 300;
    margin-bottom: 0;
  }
}

@include media-breakpoint-up(lg) {
  .cta {
    &__text {
      font-size: 1.5rem;
    }
  }
}
